<% layout('../layout/layout')%>


<div class="container">
    <div style="margin:40px"></div>
    <h2 class="font1">해외 응급 구조 상세 페이지</h2>
    <div class="row">
        <div class="col col-md-8">
            <div class="StoryCard__StoryCardInner-sc-6cra5i-0 imlXFP" data-reactid="128">
                <div class="storyContent">
                    <p><img src="/images/1-1.PNG"></p>
                    <h2><u>여행의 필수품 반디를 소개합니다</u></h2>
                    <p>버킷리스트 중 하나, 설레임 가득 떠나는 <strong>여행</strong>!<br>우리는 많은 것들을 여행 전에 챙기고 또 챙기죠?</p>
                    <p>하지만 가장 중요한 <strong>안전은</strong>&nbsp;챙기셨나요?</p>
                    <p><strong>반디는</strong> 제작자가 실제 해외 여러 재난 국가에서 봉사하면서<br>여러가지 응급 상황들과 안타까운 상황들을 경험하면서<br><strong>여행자들을
                            위한 아주 작은 도움이&nbsp;</strong>되고자 하는 마음에서 제작되었습니다.</p>
                    <h2><u><strong><a href="../../../4821004">여행의</a> 설레임</strong></u>을 준비하다</h2>
                    <p><strong>불안함을 설레임으로</strong> 바꿔주세요.<br>불안에 대비하면 걱정은 사라지고 설레임으로 채울 수 있습니다.&nbsp;</p>
                    <h2><img src="/images/1-2.PNG"></h2>
                    <h2>크고 작은 여행가방들에<u><br>컴팩트한 응급키트, </u><u>반디를 달아주세요.</u></h2>
                    <h2><img src="/images/1-3.PNG"></h2>
                    <h2>130g으로 안전대비 가능해?<br><u>조난대비,도난방지를 위한 응급 키트, <strong>반디</strong></u><u></u></h2>
                    <p><strong><strong>핸드폰 무게만큼이나 가벼운 키트에 핸드폰 만큼이나 유용한 안전을
                                담았습니다.<br></strong></strong><strong><strong><u>여덟가지 구성품으로 </u>안전을
                                대비하세요.</strong></strong><img src="/images/1-4.PNG"></p>
                    <p><strong>현재 유럽,아시아,일본등 환태평양 조산대의 불의고리의 유명 여행지들이 지진과 각종 재난으로 몸살을 앓고 있습니다.</strong><br>재난에서 절대적으로
                        안전한 상황은 존재하지 않음을 우리는 경험을 통해 배웠습니다.</p>
                    <p><strong>정전, 갑작스러운 폭우, 귀중품의 분실 등은<br>해외등 낯선 장소에서 경험한 사람에게는 재난으로 다가 올 수 있습니다.<br></strong>반디는 위급한
                        순간에 구조요청과 생존을 위해 필요한 <strong><u>가장 핵심적인 아이템</u></strong>을 담았습니다.</p>
                    <h2><u>휴대용 응급키트</u> 반디의 구성품</h2>
                    <h2><img src="/images/1-5.PNG"><br><br>고립된 상황에서 구조를 기다릴 경우, 가장 필요한 것은<br><strong><u>소리와 빛, 그리고
                                체온유지!</u></strong></h2>
                    <p><strong>정전된 경우</strong> <strong>휴대폰은 연락을 취할 수 있는 수단으로만 사용하고, <br>손전등 대용으로 사용하지 말아주세요!</strong>
                    </p>
                    <blockquote>
                        <p><strong><strong>조난시 반디키트로 1~3일이내의 생존과 구호요청이
                                    가능합니다.</strong><br>구호요청-호루라기(소리),LED램프(신호),야광스틱(시야확보)<br></strong><strong>
                                응급용품-설탕(에너지원),알콜스왑(소독),우비(체온보온),일회용밴드<br>신원확인-ICE카드 그외-블루투스트래커(SKT),지키다어플<br>직접구비-일회용
                                인공눈물,개인질환 비상약</strong><img src="/images/1-6.PNG"><br>(배에서 일어난 사고에서 끊임없이 분 호루라기 때문에 생명을
                            구한 실제상황)</p>
                    </blockquote>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/d2e5582e-08bf-4541-9f82-f291358de579.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=548c095da8c7e5b81a2988f217341210">
                    </p>
                    <h3><strong>등산 실족&amp;도난사고에 사용하는</strong> <u><strong>블루투스트래커</strong></u></h3>
                    <p>해외 여행중 귀중품 분실은 여행카페에서 가장 쉽게 접할 수 있는 대표 응급상황입니다.<br><strong>반디에는 도난 방지,미아방지</strong>를 위한 여행의 필수품이라
                        할 수 있는 <strong>블루투스트래커가</strong> 포함되어있습니다.(Skt트래커포함-SKT app 설명서포함)-트래커를 귀중품에 걸어주세요.</p>
                    <p>기능-트래커가 동봉된 사용설명서의 설치방법을 따라 설치해주세요 <br>휴대폰과 트래커를 부착해둔 물건이나 사람의 거리가 일정거리이상 멀어지거나 <br>신호가 끊길시 트래커와
                        어플에서 경고음이 발생합니다</p>
                    <p><img style="max-width:400px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/160e74d1-dd1c-4e7b-952a-16105632e658.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=f35a5edef32ba5a010fb2c09aa5b3690">야광스티커,
                        생활 방수기능을 가진 <u><strong>케이스</strong></u><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/9ee51150-381d-44dc-9bd7-b643170c1266.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=1bbe1aebd1719016084d8e6b1ab02d6a">
                    </p>
                    <h2>여행중 ICE 카드 착용하기를 실천해주세요!!</h2>
                    <p>응급상황시 신원확인을 위해 타인이 가방,바지 주머니,가슴 안쪽등을 수색,<br>신원확인이 될 물품을 찾습니다.<br>ICE카드를 영문으로 작성하여 <strong>눈에 잘 띄는
                            손목, 가방 입구, 허리띠 부근에</strong> 착용시&nbsp;<br>불필요한 신체접촉, 도난의 상황등을 대비할 수 있습니다.<br>ICE 카드를 확인해 국적과
                        보호자 연락처를 확인 후 대사관을 통해&nbsp;보호자에게 연락이 갑니다.</p>
                    <p>특히 <strong>아동과 여성분들</strong>에게 ICE 카드 착용하기를 권합니다.</p>
                    <p><img style="max-width:400px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/73a53591-164b-4def-81b5-d1b2c6c50a48.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=ff8f99589704cc28d560aeae26a54bc4">
                    </p>
                    <h2>반디는, 이런 것들을 고려해서 제작되었습니다.</h2>
                    <p><strong>&lt;실제 러시아 여행중인 20대 여성 테스터&gt;</strong><img style="max-width:400px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/ee141878-69d5-487a-abfe-f20f101ef852.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=444104166577e106dd6da65b25837dc7"><strong>&nbsp;<br>여행중에도
                            부담없는 부피와 무게로 부담을 주지 않는 휴대성 용이(130g이내)</br><br></strong></p>
                    <p><strong><img style="max-width:400px"
                                src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/1ea33c6c-d8e6-4063-8b7e-ceef06fb1856.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=54c0402f3115062422b3d81c4911d448"></strong><strong><em>여러
                                가방과 의상에도 어울리는 색감</em></strong></p>
                    <p><strong>&lt;현재 유럽여행중인 20대 여성 테스터들&gt;</strong><strong><em><img style="max-width:500px"
                                    src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/8d70c847-105e-4b7c-a39f-29cdba8715cb.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=d5dce921792013b1712964f17a66a24c"></em></strong><strong><em>반디는
                                나만의 악세사리 </em></strong></p>
                    <p><strong><em>여행을 준비할때,또는 여행을 준비하는 친구와 가족,연인에게 반디를 선물해주세요!<br></em></strong><strong><em>해외에 거주하는
                                친구들,유학생들에게도 좋은 선물이 될 수 있습니다.</em></strong></p>
                    <h3><strong><u>지키다 어플 이용하기</u></strong></h3>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/c84c4ae1-8504-4529-9802-48ab4c369384.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=a8ed3aeeb0b5cdba38125376f08e5fcc">
                    </p>
                    <p>지키다 어플을 통해 키트 활용 동영상, 응급상황대처 동영상, 리필구매 및 제품구매, ICE카드에 붙일 수 있는 <strong>QR코드생성하기</strong>를 만날 수
                        있습니다.<br>(*반디를 받아보시는 시기에 맞춰 오픈합니다)</p>
                    <p>지키다app은 2월까지 안드로이드로.2-3월이내에 ios버전으로 오픈되며<br>블루투스트래커는 지키다 어플과 상관없이 skt app으로 사용가능합니다(통신사 무관)</p>
                    <h2>그밖에도 유용하게 활용되는 반디키트</h2>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/15c840bf-0b04-4499-9689-ae8d8416a1fa.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=8270f6e5a2aab82fc43329df723bd067">
                    </p>
                    <h2>메이커 소개</h2>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/48a4f3e9-14be-43d6-b8c5-c42a53158181.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=5cc95635134cef4cd307fd493ccaeaef">
                    </p>
                    <h2>리워드 제작 이야기</h2>
                    <p>*7년 동안 6개국을 다니며, 생각보다 해외 여행시 겪을 수 있는 <strong>재난이나 응급상황이&nbsp;</strong>많다는 것을 경험했습니다.<br>*재난이 없더라도
                        해외에서 정전은 흔한 일,정전시 핸드폰 충전이 안되기 때문에 배터리를 아껴야 하는데 휴대폰 배터리를 빛으로 사용해버린 후 정작 필요할때 배터리가 없어 통신으로 사용하지
                        못하는 상황들이 안타까웠습니다.<br>*정전시 <strong>찾기 쉽고 꺼내기 쉬운 응급키트</strong>는 없을까 고민했습니다.<br>*많은 사람들에게 작은 도움이라도
                        되고 싶은 &nbsp;마음을 담아 프로젝트를 시작했습니다.<br>*대형사고의 골든타임은 72시간입니다.<br>*평소에 재난 용품을 준비했다 하더라도, 사고가 난 순간에
                        준비한 이 곁에 없다면, 준비했던 것이 무용지물이 됩니다.<br>*반디는&nbsp;<strong>최소한의 구조요청이 가능하며</strong>&nbsp;생존에 도움이 될
                        제품을 휴대하기 쉽도록 가방에 달 수 있는 <strong>키링 형태</strong>로 제작했습니다.</p>
                    <h2>리워드 소개와 상세정보</h2>
                    <p><strong>color choice(총 4가지 컬러)</strong></p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/6bc2d7cb-10d8-4ca3-a19d-bcf053251430.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=70fbc852b22c96f43575cd49d4e225b9">
                    </p>
                    <h3><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/7a6c78ef-144d-427b-ba19-2a7b58aed316.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=4ce1e98a924355d19da2a67e5de5a3ab">
                    </h3>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/0c566070-b6cf-4c2f-8ca6-b0d041ad1833.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b849f539281e3c21580c096671f147e5">
                    </p>
                    <h3><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/186a9288-5a54-47f7-a00a-a89d38e2b683.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=73b3149d213bfd71ad4537bd2ec0fda5">
                    </h3>
                    <h3>직접 만들어 선물하고 꾸미는 재미가 있는 <u><strong>키링키트 꾸미기 세트<br></strong></u><strong>이니셜</strong>이나
                        <strong>문구</strong>들을 넣어 디자인 감각을 더할 수 있습니다.</h3>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/f158e842-8b8e-42cf-86a5-1ca8e3162955.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=accae741817285461ed8accd0c739bb6"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/c81c6eed-444b-433a-8e7a-d1689c923661.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=340a3ceedc51da40fc9d98fb6a852dea">
                    </p>
                    <h2>목표 펀딩 금액 50만원!</h2>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/108174e6-40bc-48e6-bce4-8ba0f7708d39.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b5a7f6d8c8971e06c62d623daf72acce">
                    </p>
                    <p>여러개의 set를 구매를 원하실때 가격을 누르면 숫자를 변동할 수 있습니다.원하는 제품갯수에 맞춰 계산하여 가격을 변동하여 밀어주기로 결제하시고 메시지로 원하시는 색상과
                        세트이름 종류를 남겨주세요.</p>
                    <h2>SNS홍보 및 게시글 <u>이벤트</u></h2>
                    <h4>1.페이스북 또는 인스타그램 홍보</h4>
                    <p>페이스북 또는 인스타그램등 각종 SNS를 통해 반디 리워드를 홍보해준<br><u>10분께&nbsp;</u>키트내부에 들어가는&nbsp;<u>유심칩카드</u>를 선물로
                        드립니다.<br>(SNS에 공유하고 후원 게시글에 아이디와 게시글 주소를 복사해서 알려주세요)</p>
                    <h4><br>2.1+1이벤트</h4>
                    <p>리워드 구매 또는 후원을 해주시고 게시글을 통해 제작자에게 힘찬 응원 또는 꼭 필요한 사람에게 선물하고픈 마음을 전달해주신분 <u>10분에게는 키트를 한개씩 더</u>
                        보내드립니다.(소중한 사람에게 선물해주세요)</p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/b4442bb0-10ab-404a-9838-cc843a518511.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=1597b9e41e0069170735f760fb2603d3">
                    </p>
                    <h2>프로젝트 일정</h2>
                    <p><strong><u>펀딩기간</u></strong>: 12월 20일 ~ 1월 20일</p>
                    <p><strong><u>마감</u></strong>: 1월 23일</p>
                    <p><strong><u>배송시작</u></strong>: 2월 20일</p>
                    <p>&nbsp;</p>
                    <h2>후원 정보</h2>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/fa41c339-bb80-4d14-ad78-5b05118c3d85.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=6408eaa3fab14b9b560d1641dde37724"><br>제품양산및
                        판매와 관련된 금액을 제외 수익의 <strong>3%는 아프리카 장애인학교 샬롬스쿨에 운영비 후원<br></strong>(지키다 블로그 및 어플,페이스북에 후원상황 공지하여
                        사진등으로 첨부)<br><br>-펀딩수익금에 따라 아프리카 소녀 레이첼이라는 <strong>14살여자아이의 수술비용</strong>과 <strong>장애인학교 아이들의
                            간식비</strong>,<strong>말라리아 키트구매 비용등</strong>으로 다른 수익금들도 일부 사용할 예정입니다.</p>
                    <p><strong>아프리카 소녀 레이첼은</strong> 14살밖에 안된 아이로&nbsp;<br>4주만에 가슴이 자신의 머리크기보다 3배이상 커지면서 부풀어올라 배까지 가슴이
                        내려온 상태로 살이 찢어지고 터지는 고통으로 힘들어하고 있습니다. <br>아프리카에서는 치료를 받기 어려운 환경이므로 아이를 산에 버리려 했습니다. <br>아이를 병원에
                        입원시키고 수술날짜만 기다리고 있는 상황에서 <br>말라리아 치료를 먼저 하고 있습니다. <br>이외에도 흔한 열병임에도 불구하고 말라리아에 걸렸을까봐 치료를 하면 돈이
                        들까봐 <br>아프리카에서는 아이들이 열만 나도 말라리아 환자들이 죽어있는 산에 데려다 버리는 상황입니다. 그렇게 말라리아가 아닌데도 죽어가는 아이들이 많습니다.</p>
                    <p>지키다는 텀블벅 이후로도 꾸준히 지속적으로 샬롬스쿨에 후원하여 장애인 아이들을 위한 후원을 지속하기를 약속합니다.</p>
                    <h2>&nbsp;</h2>
                    <h2><strong>반디 활용법,어렵지 않아요</strong></h2>
                    <p><br><strong>1.가방에 걸어주세요</strong><br>-여행이나 이동시 늘 휴대하는 가방에 걸어주세요.</p>
                    <p><strong>2.더 긴급하게 필요한 물품으로 교체해주세요</strong><br>-매일 먹어야 할 심장,고혈압,갑상선약등이 있다면 랩으로 포장하여 넣을 수 있습니다.</p>
                    <p><strong>3.일회용인공눈물과 일회용밴드를 직접 구비해주세요</strong><br>-설탕과알콜솜의 빈 옆자리는 일회용인공눈물과 일회용밴드로 채워주세요.</p>
                    <p><strong>4.가까운 주변에 잠시 가더라도 블루투스트래커를 아이에게 달아주세요</strong><br>-마트에서 엄마가 계산하는 잠깐의 사이에 유괴된 사건이 바로 최근에
                        일어난 사건입니다. 여행뿐만아니라 집밖에 잠깐 나갈때에도 보호자의 시선안에 있어야 할 연령의 아이라면 블루투스트래커를 달아주세요.<br>트래커와 어플이 신호가 끊길때 제품과
                        어플에서 경고음이 울립니다.<br>*반디트래커는 2020년초에 제작완료됩니다.<br>현재는 SKT트래커를 판매하고 있습니다. SKT트래커는 SKT 어플을 사용설명서를 보고
                        설치해주세요.</p>
                    <p><strong>5.지키다 어플을 깔아주세요.</strong><br>지키다 어플에는 키트를 활용한 여러가지 설명 또는 구매,해외재난정보를 볼 수 있는 소식을 전하고 있습니다.
                    </p>
                    <p>지키다app은 2월까지 안드로이드로.2-3월이내에 ios버전으로 오픈되며 블루투스트래커는 지키다 어플과 상관없이 skt app으로 사용가능합니다(통신사 무관)<br>시기
                        조정이 있을 시 문자나 블로그 등으로 공지하겠습니다</p>
                    <hr>
                    <h2>&nbsp;</h2>
                    <h2><strong>FAQ</strong></h2>
                    <p><br><strong>모든 재난에 대비 가능한가요?</strong><br>고립 또는 조난등의 환경에서의 생존과 구호요청신호를 최우선으로 제작했기 때문에 범용적인 키트라고
                        생각하시면 됩니다 .더 필요한 것들은 키트가 아니라 파우치등에 따로 보충해 사용해주세요.</p>
                    <p><strong>키트에 여유공간이 있나요?</strong><br>가방에 달 수 있는 용도라서 가장 최적화로 줄인 크기로 제작했기에 여유는 없습니다,<br>그러나 랩으로
                        심장약,고혈압,갑상선약등을 1일분량씩 잘 감싸서 우비를 넣는 케이스쪽에는 넣을 수 있습니다.</p>
                    <p><strong>키트의 내용물만 구매할 수 있나요?</strong><br>지키다어플을 깔면 어플내부에서 내부용품 또는 해외여행등에 필요한 여러가지 키트를 구매할 수 있는
                        사이트로 연결됩니다.</p>
                    <p><br><strong>어플은 꼭 깔아야할까요?</strong><br>사용설명서를 가지고 다니기 어렵기 때문에 어플에 있는 사용설명법을 보시고 활용한 여러 동영상도 같이 볼 수
                        있습니다.<br>추가적으로 여러나라의 해외재난정보를 공지하고 있어 점차 확대해 나가려 합니다.</p>
                    <p>지키다app은 2월까지 안드로이드로.2-3월이내에 ios버전으로 오픈되며 블루투스트래커는 지키다 어플과 상관없이 skt app으로 사용가능합니다(통신사 무관)<br>시기
                        조정이 있을 시 문자나 블로그 등으로 공지하겠습니다</p>
                    <p><strong>재난은 언제 닥칠지 모르는데 매일 가지고 다녀야 하나요?</strong><br>맞습니다 .그래서 우선은 해외여행시 가지고 다닐 응급키트라고 말씀드렸습니다.하지만
                        국내에app서 지진에 대해서 대비할 일이 적다고 여기신다면 케이스가 방수가 되고 야광되는 부분이 있어 유용하니 낚시,등산,캠핑등의 아웃도어 활동에
                        유용합니다.유아용의약품,악세사리케이스,여성용품,마스크케이스로 사용하실 수 있습니다.</p>
                    <p>&nbsp;</p>
                    <hr>
                    <h2>&nbsp;</h2>
                    <h2>&lt;주의사항&gt;</h2>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/0453cdb9-f5d8-4a5f-bcdc-7a0a63fca660.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=5c2e32701e3bb3af51a3e17d68cbede4">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/fafd0d3a-d02d-4eb3-a67d-61c1497f32e7.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=097021c10bbd187ac8e7a76a80a46a3d">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/0b40b1b2c6bea171a4e75b4cb9b2c0f6089d418f/f575a94a8970f14147e2d21ef51ddf058c87cecd/3a3ddb12-aff0-44b8-976a-ccd98bb91911.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=aebd5c89056144b64d74461d36473596">
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <ul class="list-group">

                <li class="list-group-item">목표금액 : <%= goalAmount %></li>
                <% var dd = new Date(parseInt(deadline));
                var ddstr = `${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`;

                console.log(`${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`);
                
                %>

                <li class="list-group-item">기간 : <%= ddstr %></li>
                <button onclick="contribute();" class="btn btn-primary">후원하기</button>

            </ul>
            <div style="margin:40px"></div>

            <h2>현재 모금액 : <%= totalAmount %></h2>
            <div style="margin:10px"></div>

            <div class="progress">
                <div class="progress-bar" style="width:<%= totalAmount/goalAmount*100 %>%"
                    aria-valuenow="<%= totalAmount/goalAmount*100 %>" aria-valuemin="0" aria-valuemax="100">
                    <%= totalAmount/goalAmount*100 %>%</div>
            </div>

            <div style="margin:40px"></div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="font3">
                            <h1>창작자 소개</h1>
                        </div>
                    </li>
                    <li class="list-group-item">총6개의 재난국가로 봉사를 다녀왔습니다.구호 단체 사람들끼리는 응급상황에 준비한 사람과 준비하지 않은 사람의 피해는 천지차이라는
                        말을 합니다.우리의 삶에는 "만약에"가 반드시 존재하고 응급상황은 "나"만 피해가지 않는다는 것을 경험했습니다. 별것 아닌 작은 상황이 조치가 제대로 되지 않아 큰 응급
                        상황이 되는 경우가 있거나 크고 작은 도난 분실 사건들이 부지기수였습니다.해외여행에 필요한 작은 준비가 되길 바라는 마음으로 휴대용 응급키트 반디(BANDI)를
                        개발했습니다.또한 반디의 수익금을 어두운 곳을 밝히는 반딧불처럼 사용하겠습니다</li>


                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>

<script>
    //var web3 = new Web3('http://localhost:8545');

    const abi = [
        {
            "constant": false,
            "inputs": [],
            "name": "checkGoalReached",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "ended",
            "outputs": [
                {
                    "internalType": "bool",
                    "name": "",
                    "type": "bool"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "numInvestors",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "returnGoalAmount",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "totalAmount",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "status",
            "outputs": [
                {
                    "internalType": "string",
                    "name": "",
                    "type": "string"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "goalAmount",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "deadline",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "name": "investors",
            "outputs": [
                {
                    "internalType": "address payable",
                    "name": "addr",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "amount",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": false,
            "inputs": [],
            "name": "kill",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "returnDeadline",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "owner",
            "outputs": [
                {
                    "internalType": "address payable",
                    "name": "",
                    "type": "address"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": false,
            "inputs": [],
            "name": "fund",
            "outputs": [],
            "payable": true,
            "stateMutability": "payable",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "returnTotalAmount",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "_duration",
                    "type": "uint256"
                },
                {
                    "internalType": "uint256",
                    "name": "_goalAmount",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "constructor"
        }

    ];

    const contractAddress = "0x31c0501800491113570010504c23707c98a14ef5";


    var web3;
    var helloContract;

    async function initWeb3() {
        var web3Provider;
        if (window.ethereum) {
            web3Provider = window.ethereum;
            try {
                // Request account access
                await window.ethereum.enable();
            } catch (error) {
                // User denied account access...
                console.error("User denied account access")
            }
        }
        // Legacy dapp browsers...
        else if (window.web3) {
            web3Provider = window.web3.currentProvider;
        }
        // If no injected web3 instance is detected, fall back to Ganache
        else {
            web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
        }
        web3 = new Web3(web3Provider);
    }

    initWeb3()
        .then(function () {
            helloContract = new web3.eth.Contract(abi, contractAddress);
        })



    function contribute() {

        var adoptionInstance;
        var num = prompt("금액 입력","단위:wei");

        web3.eth.getAccounts(async function (error, accounts) {
            if (error) {
                console.log(error);
            }

            var account = accounts[0];

            await helloContract.methods.fund().send({ from: account, value: num })
                .then(async function () {
                    var result = await helloContract.methods.totalAmount().call();
                    console.log(result);
                })
        });



        // helloContract.methods.goalAmount().call()
        //     .then(result => {
        //         console.log(result);

        //     })



    }
</script>