<% layout('../layout/layout')%>

<div class="container">
        <div style="margin:40px"></div>
        <h2 class="font1">월광: 달빛과 여정 금속 주사위 & 케이스</h2>

        <div class="row">
                <div class="col col-md-8">

                        <div class="StoryCard__StoryCardInner-sc-6cra5i-0 imlXFP">
                                <div class="storyContent">
                                        <h2>&nbsp;</h2>
                                        <h2><span style="font-weight: 400;"><strong>팀 도글라스에 대해</strong></span></h2>
                                        <h2><span style="font-weight: 400;"><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/6f99ed63-56db-4ab5-82a6-84b6477fa6ee.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=64c28c2fe3fc10e0ade2ca78a19c5ff2"><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/b19b4dfe-2df7-422d-b77e-3814f3109e76.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b9f319abcc85116eb14c438e90f02cd8"></span>
                                        </h2>
                                        <p><span style="font-weight: 400;"><strong>안녕하세요, 팀 도글라스
                                                                입니다!</strong>&nbsp;</span></p>
                                        <p><span style="font-weight: 400;">도글라스(DOGLASS)는 금속 공예가 뫼초, 그래픽 디자이너 남시우가 협력하여
                                                        탄생한 팀으로 새로운 컨셉과 독특한
                                                        디자인의 제품을 연구하여 제작자와 구매자 모두가 즐길 수 있는 작품을 만드는 것을 목표로 하고있습니다.</span>
                                        </p>
                                        <p><span style="font-weight: 400;">팀의 첫 프로젝트로 고급스러운 분위기의 금속 제품인 월광 주사위와 케이스를
                                                        텀블벅에서 공개합니다. 공예와 디자인, 두
                                                        분야의 만남으로 이루어진 작품이 많은 분들께 전해질 수 있도록 응원 부탁드립니다.</span></p>
                                        <p>&nbsp;</p>
                                        <h2><strong>월광 : 달빛과 여정</strong></h2>
                                        <h2><img style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/e2080975-9bde-40c1-9107-7ddd299d66c5.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=601749968d3c969f40ad3cbf47f8cab5"><img
                                                        style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/8136167f-1025-452f-8b18-3cf7c9396ade.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=e87d4cd85ffaf12eea5dd2eb56f890a4">
                                        </h2>
                                        <p><span style="font-weight: 400;"><strong>모든 여정에 있어 밝은 나날만이 계속되면 얼마나
                                                                좋을까요?</strong></span></p>
                                        <p><span style="font-weight: 400;">어두운 밤이 찾아왔을 때 편히 쉴 수 있으면 좋겠지만 지친 발걸음을 재촉 해야할
                                                        때도 많을 겁니다. 먼 옛날, 한치
                                                        앞도 보이지 않는 밤의 어둠속에서도 달빛은 언제나 여행자들과 함께 해왔습니다. 도글라스의 새로운 제품은 달과 빛이
                                                        가진 '길잡이'라는 의미를 담아 여러분께
                                                        전달합니다.<strong> 모든 이들이 어둠속에서도 헤메지 않고 올바른 길로 향하길 바라는 기원을
                                                                담았습니다.</strong></span></p>
                                        <p>&nbsp;</p>
                                        <h2><span style="font-weight: 400;"><strong>월광 주사위</strong></span></h2>
                                        <p><span style="font-weight: 400;"><strong><img style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/fe67890e-15c2-4d8e-a0ea-e1905b75d981.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b63350c52e3c5a0d5e435b6ff3936b5b"></strong></span>
                                        </p>
                                        <p><strong>"새로운 형태, 색다른 질감."</strong></p>
                                        <p><span style="font-weight: 400;">보편적으로 알려진 정육각형의 형태, 어디에서나 볼 수 있는 플라스틱 재질에서
                                                        벗어낸 새로운 주사위를 만들고
                                                        싶었습니다.</span></p>
                                        <p><span style="font-weight: 400;">석영 조각에서 영감을 받은 독특한 형태, 거기에 금속 재질이 줄 수 있는
                                                        고급스러움을 더하면 어떤 느낌이 될까요?
                                                        도글라스가 만들어낸 새로운 형태의 금속 주사위는 달의 파편을 깎아 만든 것 처럼 은은하게 빛납니다.</span>
                                        </p>
                                        <p><span style="font-weight: 400;"><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/b9d70e3c-1c76-46c8-afa8-f65d08fff873.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=7107a4202c60b34026be3ee162a7cd93"></span><span
                                                        style="font-weight: 400;"><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/ee28af15-1034-44e1-b6e9-92fac80a7eb1.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=e177c0323c1b52d5f852ef4b00968ae7"></span>
                                        </p>
                                        <p><span style="font-weight: 400;">늘 새로운 모험이 함께하는 TRPG와 보드게임에 월광 주사위가 함께한다면 플레이
                                                        타임이 한 폭의 그림 같은 광경이
                                                        될겁니다.</span></p>
                                        <p><img style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/d27705c7-bd57-4f1f-bd4f-f90a88e72a58.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=34cd6a5d53e7286e3b6a83536bfc612c">
                                        </p>
                                        <p><strong>"국내 작가가 직접 제작하는 주사위"</strong></p>
                                        <p><span style="font-weight: 400;">국내에서는 주사위를 전문적으로 판매하는 업체가 드물며, 개인이 해외 제작자의
                                                        주사위를 구매, 국내에 재판매 하는
                                                        방식으로 많은 불편함과 번거로움을 감수하고 있는 것이 현실입니다.</span></p>
                                        <p><span style="font-weight: 400;"><strong>월광 주사위는 국내의 금속공예 전문가가 주조 기법으로 하나하나
                                                                만들어내는 핸드메이드 작품입니다.
                                                        </strong></span><span style="font-weight: 400;">주조 과정에서 주사위 문양의
                                                        미세한 라인이 표현되지 않는다거나, 기포로 인한
                                                        가라앉음 현상이 일어나는 등 제작 기간 중 여러가지 시행착오를 겪은 끝에 겨우 완전한 형태로 제작할 수 있게
                                                        되었습니다. </span></p>
                                        <p><span style="font-weight: 400;">오랜 시간 연구를 통해 생산한 월광 주사위는 이미 오프라인 마켓에서 샘플 공개 및
                                                        시범 사용을 거친 상태로, 많은
                                                        분들의 호응을 받았습니다. 이제는 펀딩을 통해 조금 더 넓은 세상에 선보이고자 합니다. </span></p>
                                        <p><span style="font-weight: 400;"><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/f1ab697e-34cc-472a-b5dd-ec727cffc797.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=61926bc6f17e9450fddbc8e7b5d4acf3"></span><img
                                                        style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/68909523-567c-490c-93f9-3a03ecdc4a51.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=82ef20d154f75830b80e02eb0c5010e9">
                                        </p>
                                        <p><strong><span style="font-weight: 400;">하나하나 정성스레 다듬어 제작되는 수제작 주사위의 매력을
                                                                느껴보세요.</span></strong>
                                        </p>
                                        <p><strong>[월광 주사위 상세정보]</strong></p>
                                        <p><strong><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/784a2081-74fd-49a5-9f9b-e8c61045863d.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=68d109a081a49055637ce2299e6d8b95"></strong><strong><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/1482b167-d64f-4ae3-be66-2b1e6ec5d30e.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=0228195faab864b50dafedd499217e39"><br><br>재질:
                                                        신주(황동)<br></strong><strong>크기: 8.8mm x
                                                        50mm<br></strong><strong>무게:
                                                        17g<br></strong><u><strong>옵션 : 유광(무착색) / 무광(유착색) 옵션 중 택
                                                                1</strong></u></p>
                                        <p><span style="font-weight: 400;">달이라는 테마에 걸맞은 느낌을 주기위해 황동으로 제작하여 금갈색의 부드럽고 은은한
                                                        광채를 담고있습니다.</span>
                                        </p>
                                        <p><span style="font-weight: 400;">주사위 옵션은 유광과 무광으로 나누었습니다. 유광은 착색이 없어 자연스러운 광택이
                                                        있으며, 음각의 면 부분에 반짝이는
                                                        황동색이 그대로 드러납니다. </span>무광은 음각 부분에 착색이 되어 음영이 뚜렷하며, 매트한 질감으로 빈티지한
                                                느낌을 줍니다.</p>
                                        <p><span style="font-weight: 400;">기존 플라스틱 주사위에 비해 묵직한 편으로 튀어나가듯 굴러가지 않습니다. 사용시
                                                        손바닥위에서 내려놓듯 가볍게
                                                        굴려주세요. </span></p>
                                        <p><strong><span style="font-weight: 400;">여정을 밝혀주는 달빛이 담긴 주사위는 언제나 당신과 함께 할
                                                                것입니다.<br></span></strong></p>
                                        <p><strong><span style="font-weight: 400;"><img style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/12a96c03-1148-4bdc-adbd-024396ea2bbb.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=a3eb9da9f3cf5650c6f08b5b57b624a1"><img
                                                                        style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/872e9790-1ab7-4f25-a9b6-3fc9cb9c0a68.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=201ab4e803222e71bad3db32b8483c5a"></span></strong><span
                                                        style="font-weight: 400;"><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/fe05fa4d-b47b-4266-8a6b-196819170a84.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=03b0745f2708217c28cc8ab259891f25"></span>
                                        </p>
                                        <p><span style="font-weight: 400;">주사위를 구입하시면 기본적으로 랩케이스로 포장을 해드립니다. 원형 형태 안쪽에
                                                        밀착력이 강한 랩이 부착되어 있으며,
                                                        전시용으로 사용이 가능합니다.</span></p>
                                        <p>&nbsp;</p>
                                        <h2><span style="font-weight: 400;"><strong>월광 주사위 패드 </strong></span></h2>
                                        <p><span style="font-weight: 400;"><strong><img style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/803d0d2d-89cb-42b8-a276-f48fb9ce455c.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=8bda57e26c92c96f724c1762b30085dd"></strong></span>
                                        </p>
                                        <p><span style="font-weight: 400;">주사위를 실사용할 때 기스가 나지 않도록 함께 사용하는 주사위 패드입니다.
                                                </span></p>
                                        <p><span style="font-weight: 400;">주사위 케이스와 같은 문양을 패브릭 소재에 인쇄하여 제작하였습니다. 초극세사 원단
                                                        재질로 두께가 얇아 접어서 휴대하기
                                                        편리하며, 후면 고무닷 처리로 미끄러짐 없이 안정적인 사용이 가능합니다.</span></p>
                                        <p><strong>[주사위 패드 상세정보]<br><br><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/d05c75e2-5cf9-4f6f-8688-062afe4b5d52.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=caa5e9c33f1f557bb44f1fdb9b6b0955"><br><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/51d082e6-e5ea-44d6-9c33-5bb98db26883.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=ef7766a623c29a45cf3b6a13018295a5"><br></strong>
                                        </p>
                                        <p><strong>재질 : (앞) 초극세사 원단, (뒤) 고무닷 소재<br></strong><strong>크기 : 180 * 180 mm,
                                                        원형<br></strong><u><strong>옵션 : 월(흑색) 도안 / 광(백색) 도안</strong></u>
                                        </p>
                                        <p><span style="font-weight: 400;">초극세사 원단 재질로 두께가 얇아 접어서 휴대하기 편리하며, 후면 고무닷 처리로
                                                        미끄러짐 없이 안정적인 사용이
                                                        가능합니다.</span></p>
                                        <p>&nbsp;</p>
                                        <h2><span style="font-weight: 400;"><strong>월광 케이스</strong><br></span></h2>
                                        <p><span style="font-weight: 400;"><strong><img style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/aac0d49a-5ca5-425c-818c-628b00a298f4.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=0ac7728ff0f66b16cccbc840c821413a"></strong></span>
                                        </p>
                                        <p><strong>"형태에 의미를 담아 전달합니다."</strong></p>
                                        <p><span style="font-weight: 400;">도글라스의 제품 디자인은 시각적인 아름다움을 전달하는 것에 그치지 않고, 기존의
                                                        상징들이 가진 의미를 연구하고 그것을
                                                        새롭게 해석하여 작품에 담았습니다. 월광(月光)을 이루는 달과 빛이라는 단어가 가진 의미와 이미지를 문양으로 구체화
                                                        시켜 각각의 도안에 적용하였습니다.</span>
                                        </p>
                                        <p><img style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/d20f2f57-54d3-48fc-bc60-8411a90e37ff.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=d0aa75f6f5e3131123790124c175e3a6"><img
                                                        style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/0a05a39b-371c-42b5-9e26-20b2b522569a.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=9c3900215f8854352584ba07c8f4a3df"><strong><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/e472c24c-bb82-4bff-b0e0-8873a9e1f43e.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=d75aef823b42d69a19d24c6eb169715e"></strong>
                                        </p>
                                        <p><strong>"같은 테마의 디자인이 주는 아름다움."&nbsp;</strong></p>
                                        <p><span style="font-weight: 400;">주사위는 보관할 수 있는 케이스가 필수적인 물건이지만, 해외 시장에서도 주사위와
                                                        케이스가 한 테마로 출시되는 제품들은
                                                        보기 드문 실정입니다. 이에 주사위와 꼭 어울리는 형태의 케이스를 디자인하여 그 자체만으로도 아름다움과 실용성을
                                                        전달할 수 있도록 제작하였습니다.</span></p>
                                        <p><span style="font-weight: 400;"><strong>[월광 케이스 상세정보]</strong></span></p>
                                        <p><img style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/6edf352b-54f8-44f5-9592-e2c328fc3d9a.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=c9d3c7193affff0be46c6d65122c3ee7">
                                        </p>
                                        <p><strong>재질: 신주(황동)<br></strong><strong>크기: 지름 75mm * 높이
                                                        42mm<br></strong><u><strong>옵션 : 월(月) /
                                                                광(光)&nbsp; 도안 옵션 중 택 1</strong></u></p>
                                        <p><span style="font-weight: 400;">덮개 부분을 황동 부식으로 제작한 주사위 케이스입니다. </span><span
                                                        style="font-weight: 400;">음각 부분의 착색 이후 코팅 작업을 거쳐 음영의 대비가 분명하며,
                                                        은은한 금빛으로 반짝입니다. </span></p>
                                        <p><span style="font-weight: 400;">주사위를 수납하는 용도 이외에도 악세사리, 원석 등의 보관이
                                                        가능합니다.</span></p>
                                        <p>&nbsp;</p>
                                        <h2><strong>은빛 월광 목걸이</strong></h2>
                                        <p><strong><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/074e9090-105c-4e92-8d82-f849271da09c.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=4f5dfbb7ff66f227e7d991ab6b41e7be"><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/5cbf35ec-1b02-4e7e-aa79-02dedcff70a3.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=734dec291685ccbdd0a3cfbfafe3cfb0"></strong>
                                        </p>
                                        <p><span style="font-weight: 400;">악세사리로 착용할 수 있는 은빛 월광 목걸이도 주사위와 함께
                                                        제작해보았습니다.</span></p>
                                        <p><span style="font-weight: 400;">목걸이는 925 정은 재질로 착색 후 무광처리로 제작합니다.목걸이는 모든 문양이
                                                        음각처리 되어있습니다. 주사위 보다도
                                                        착색된 문양 하나하나가 뚜렷합니다. </span><span style="font-weight: 400;">모든
                                                        스타일의 의상에 잘 어울리며, 가볍게 걸치기 편한
                                                        데일리 악세사리 입니다.</span></p>
                                        <p><span style="font-weight: 400;">은색 달빛의 조각과 어디든지 함께하실 수 있습니다.</span></p>
                                        <p><strong>[은빛 월광 목걸이 상세정보]</strong></p>
                                        <p><strong><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/2d511344-44da-460b-8b91-6b4cc23df082.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=df2a606c394892d4b30f7782915654f9"></strong><strong><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/7dd123a4-dd70-4660-8826-95fe4c958b6d.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=2dba44ca35894c41993157c09b7e7961"></strong><strong><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/434b814e-ce64-4fc5-b4b6-aa61a52e931b.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=d1524e6ed1e8888f0c5a90f8cfeecb47"></strong>
                                        </p>
                                        <p><strong>재질: 925 정은<br></strong><strong>크기: 36mm * 6.2mm<br></strong><strong>줄
                                                        길이: 50cm+여유줄 5cm /
                                                        줄 종류: 각줄</strong></p>
                                        <h2><img style="max-width:500px"
                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/88e31c4b-1904-4224-a070-fa7a07469215.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=a34091fe8ca634e138961c6d00372e14">
                                        </h2>
                                        <p>목걸이는 랩케이스가 아닌, 악세사리 전용 흑색 상자 케이스에 포장되어 발송됩니다.</p>
                                        <h2>펀딩 목표</h2>
                                        <p><span style="font-weight: 400;">도글라스에서는 육면체 이외에도 8면체, 10면체 등의 주사위를 연구하고 있었으나
                                                        제작비 문제와 더불어 새로운 형태의
                                                        다이스에 대한 호응도를 알고싶었기에 6면체 주사위 한 종류로 펀딩에 먼저 참여하게 되었습니다. </span></p>
                                        <p><span style="font-weight: 400;">재료비, </span><span
                                                        style="font-weight: 400;">인쇄 제작과 검수, 패키징 등 모든
                                                        요소를 고려해 3,0</span>00,000원이라는 금액을 목표 금액으로 책정 하였습니다.</p>
                                        <p>&nbsp;</p>
                                        <h2>펀딩 성공 이후</h2>
                                        <p><span style="font-weight: 400;"><strong><u>이번 펀딩에서 목표 금액의 200% 이상의 좋은 성과를
                                                                        달성하면 이후에도 다양한 형태의 주사위를
                                                                        제작하여 여러분께 선보이려합니다.</u> </strong>그와 더불어 유니크한 디자인의
                                                        케이스, 기타 굿즈들도 함께 출시할 예정이오니 많은 관심
                                                        부탁드립니다.</span></p>
                                        <p>&nbsp;</p>
                                        <h2><strong>리워드 안내</strong></h2>
                                        <p><strong><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/6bbbae45-75a3-4f8d-ac2c-8d31887655ce.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=dc09d933ba0edb3d1733fa2f24191785"></strong><strong><img
                                                                style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/18d6f351-37cf-4e73-9699-97852955e220.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=8d7a4a2aefd88bf73aa61f01d32121cf"></strong>
                                        </p>
                                        <p><strong>1.기본 제공 물품</strong></p>
                                        <p><span style="font-weight: 400;"><strong>펀딩 시작 기념으로 제품을 구매하시는 모든 분들께 월광 문양 스티커
                                                                굿즈를 무료로
                                                                보내드립니다.</strong></span></p>
                                        <p><u><span style="font-weight: 400;">주사위와 목걸이 구매시 </span><strong>포장용
                                                                케이스</strong><span style="font-weight: 400;">와 함께 주사위 닦는
                                                                천을 동봉해드립니다. </span><strong>주사위는 백색 랩케이스, 목걸이는 흑색
                                                                상자 케이스</strong><span style="font-weight: 400;">에 넣어드리며,
                                                                한 주문당 하나만 배송됩니다.
                                                                <br></span><span style="font-weight: 400;"><strong>(한
                                                                        케이스당 주사위 1개 포장
                                                                        가능)</strong></span></u></p>
                                        <p><span style="font-weight: 400;">포장용 랩케이스의 추가구매를 원하시면 창작자에게 문의를 이용해주세요.</span>
                                        </p>
                                        <p><span style="font-weight: 400;">모든 리워드에는 배송비가 포함되어 있습니다.</span></p>
                                        <p><span style="font-weight: 400;"><strong>2.금액 별 리워드</strong></span></p>
                                        <p><span style="font-weight: 400;"><strong><img style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/859f0299-f859-45ee-832b-f793f84dfb60.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=f49fed6189304e6584a8f52b8dae28f4"><img
                                                                        style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/70f8a2af-22e3-4b4c-8aad-1a1ebdf612d5.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=7097fbad8df645374441497770f2652f"></strong></span>
                                        </p>
                                        <p><strong><span style="font-weight: 400;">표기된 리워드 외의 다른 구성을 원하신다면 [창작자에게 문의하기]를
                                                                통해 문의
                                                                부탁드립니다.</span></strong></p>
                                        <h2>&nbsp;</h2>
                                        <h2><strong>배송 및 기타사항</strong></h2>
                                        <p><br><span style="font-weight: 400;">두 작가의 명함, 그리고 보증서가 함께 배송됩니다. 보증서 내부에는
                                                        주문하신 물품 정보와 더불어 물품 사용시
                                                        주의사항이 기재되어 있습니다.</span></p>
                                        <p><span style="font-weight: 400;"><strong>핸드메이드로 제작되는 만큼 주조 과정에서 달의 면과 같은 고르지못한
                                                                흔적과 미세한 기포자국이 생길 수
                                                                있으니 이 점 참고 부탁드립니다.</strong> 이러한 사항은 불량이 아니며 교환 및 환불 대상이
                                                        아닙니다.</span></p>
                                        <p><span style="font-weight: 400;">펀딩이 종료된 후 모금과 정산이 완료되면 바로 제작에
                                                        착수합니다.&nbsp;</span></p>
                                        <p>2월 29일까지 후원순대로 제작합니다. 한 달 정도의 기간을 두고 제작하며 3월 1일 일괄 배송 할 예정입니다. 단, 물품이 너무 많을
                                                경우 1차, 2차로 나누어 배송
                                                예정이니 양해 부탁드립니다.</p>
                                        <p>정확한 배송일자는 변경 될 수 있습니다. 이 경우 따로 스토리를 통하여 공지 드리겠습니다.</p>
                                        <h2>&nbsp;</h2>
                                        <h2>창작자 정보</h2>
                                        <p><strong><strong>남시우</strong></strong></p>
                                        <p><strong><img style="max-width:500px"
                                                                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/07ebce0e-3c5d-4601-9638-4947a1f7d5b8.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=714ec3d06567aa5f5344e1643aabea46"></strong>
                                        </p>
                                        <p><span style="font-weight: 400;">여러 형태와 이미지가 가진 의미를 분석하고, 조합하고, 재구성하여 시각적인
                                                        아름다움과 더불어 새로운 의미를 전달하는
                                                        방식의 작업을 합니다. 시각디자인 전공자로 심볼리즘을 기반으로 한 그래픽, 제품 디자인과 일러스트레이션을 주분야로
                                                        활동하는 작가입니다.</span></p>
                                        <p>트위터 : <a href="https://twitter.com/NSU_FP" target="_blank"
                                                        rel="noopener">https://twitter.com/NSU_FP</a><br><strong><span
                                                                style="font-weight: 400;">그라폴리오 : </span><span
                                                                style="font-weight: 400;"><a
                                                                        href="https://grafolio.naver.com/nsu_fp_0"
                                                                        target="_blank"
                                                                        rel="noopener">https://grafolio.naver.com/nsu_fp_0</a></span></strong>
                                        </p>
                                        <p><strong>뫼초</strong></p>
                                        <p><strong><span style="font-weight: 400;"><img style="max-width:500px"
                                                                        src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/0d13d271338ac852687f161511004b92c3d629af/6e662e7b05fc93b04f49aa28e6fb57f79fdafcaf/a005c80a-8116-42cf-8378-f5301606b484.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b954fbfd124bda85f0e0ae5abf7cf426"></span></strong>
                                        </p>
                                        <p><span style="font-weight: 400;">항상 좋아하는 것을 만드는 금속 공예 작업을 하고 있습니다.
                                                </span><span style="font-weight: 400;">'일상의 재미가 녹아있는 키덜트한 작품'을 주제로, 언제
                                                        어디서든 함께해도 부담스럽지 않은 작품을 만들고자 노력하는
                                                        공예가 입니다.</span></p>
                                        <p><span style="font-weight: 400;">트위터: <a
                                                                href="https://twitter.com/silver_grass_" target="_blank"
                                                                rel="noopener">https://twitter.com/silver_grass_</a><br></span>아이디어스:
                                                <a href="https://www.idus.com/silvergrass" target="_blank"
                                                        rel="noopener">https://www.idus.com/silvergrass</a><br>그라폴리오: <a
                                                        href="https://grafolio.naver.com/silvergrass" target="_blank"
                                                        rel="noopener">https://grafolio.naver.com/silvergrass</a></p>
                                        <p>&nbsp;</p>
                                        <p><strong>모든 디자인, 사진, 물품의 저작권은 도글라스에게 있으며 무단 복제, 도용, 카피를 금합니다.
                                                </strong><strong>COPYRIGHT ⓒ 2019.
                                                        DOGLASS Design &amp; Craft. All rights reserved.</strong></p>
                                        <p><strong>&nbsp;</strong></p>
                                </div>

                        </div>

                </div>


                <div class="col col-md-4">
                        <ul class="list-group">

                                <li class="list-group-item">목표금액 : <%= goalAmount %></li>
                                <% var dd = new Date(parseInt(deadline));
                                var ddstr = `${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`;

                                console.log(`${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`);
                
                                 %>

                                <li class="list-group-item">기간 : <%= ddstr %></li>
                                <button onclick="contribute();" class="btn btn-primary">후원하기</button>

                        </ul>
                        <div style="margin:40px"></div>

                        <h2>현재 모금액 : <%= totalAmount %></h2>
                        <div style="margin:10px"></div>

                        <div class="progress">
                                <div class="progress-bar" style="width:<%= totalAmount/goalAmount*100 %>%"
                                        aria-valuenow="<%= totalAmount/goalAmount*100 %>" aria-valuemin="0"
                                        aria-valuemax="100"><%= totalAmount/goalAmount*100 %>%</div>
                        </div>

                        <div style="margin:40px"></div>
                        <div>
                                <ul class="list-group">
                                        <li class="list-group-item">
                                                <div class="font3">
                                                        <h1>창작자 소개</h1>
                                                </div>
                                        </li>
                                        <li class="list-group-item">도글라스(DOGLASS)는 금속 공예가 뫼초, 그래픽 디자이너 남시우가 협력하여 탄생한 팀으로
                                                새로운 컨셉과 톡득한 디자인의 제품을 연구하여 제작자와 구매자 모두가 즐길 수 있는 작품을 만드는 것을 목표로 하고있습니다.
                                        </li>


                                </ul>
                        </div>
                </div>
        </div>
</div>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>

<script>
        //var web3 = new Web3('http://localhost:8545');

        const abi = [
                {
                        "constant": false,
                        "inputs": [],
                        "name": "checkGoalReached",
                        "outputs": [],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                },
                {
                        "constant": false,
                        "inputs": [],
                        "name": "fund",
                        "outputs": [],
                        "payable": true,
                        "stateMutability": "payable",
                        "type": "function"
                },
                {
                        "constant": false,
                        "inputs": [],
                        "name": "kill",
                        "outputs": [],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                },
                {
                        "inputs": [
                                {
                                        "name": "_duration",
                                        "type": "uint256"
                                },
                                {
                                        "name": "_goalAmount",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "constructor"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "deadline",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "ended",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "bool"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "goalAmount",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "name": "investors",
                        "outputs": [
                                {
                                        "name": "addr",
                                        "type": "address"
                                },
                                {
                                        "name": "amount",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "numInvestors",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "owner",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "address"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "status",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "string"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "totalAmount",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                }
        ];

        const contractAddress = "0x31c0501800491113570010504c23707c98a14ef5";


        var web3;
        var helloContract;

        async function initWeb3() {
                var web3Provider;
                if (window.ethereum) {
                        web3Provider = window.ethereum;
                        try {
                                // Request account access
                                await window.ethereum.enable();
                        } catch (error) {
                                // User denied account access...
                                console.error("User denied account access")
                        }
                }
                // Legacy dapp browsers...
                else if (window.web3) {
                        web3Provider = window.web3.currentProvider;
                }
                // If no injected web3 instance is detected, fall back to Ganache
                else {
                        web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
                }
                web3 = new Web3(web3Provider);
        }

        initWeb3()
                .then(function () {
                        helloContract = new web3.eth.Contract(abi, contractAddress);
                })



        function contribute() {

                var adoptionInstance;

                web3.eth.getAccounts(async function (error, accounts) {
                        if (error) {
                                console.log(error);
                        }

                        var account = accounts[0];

                        await helloContract.methods.fund().send({ from: account, value: 10000000000 })
                                .then(async function () {
                                        var result = await helloContract.methods.totalAmount().call();
                                        console.log(result);
                                })
                });



                // helloContract.methods.goalAmount().call()
                //     .then(result => {
                //         console.log(result);

                //     })



        }
</script>