<% layout('../layout/layout')%>

<div class="container">
        <div style="margin:40px"></div>
        <h2 class="font1">고양이 장난감 상세 페이지</h2>
        <div class="row">
                <div class="col col-md-8">
                        <div class="StoryCard__StoryCardInner-sc-6cra5i-0 imlXFP">
                                <div class="storyContent">
                                        <h2><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/f59995b0-7573-4102-a7c3-97500a163942.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=4e65ddcb857a78ce1ae2383c08837453">
                                        </h2>
                                        <h2>&nbsp;</h2>
                                        <h2>창작자 소개</h2>
                                        <p>안녕하세요. 본투러브어스의 디자이너 '뱜'입니다.</p>
                                        <p>본투러브어스(born to love us)는 '우리를 사랑하기 위해 태어난' 반려동물을 위한 새로운 문화를 형성하는 브랜드입니다. 새로운
                                                것을 만들어가는 것을 즐거움과
                                                설렘으로
                                                여기고, 떠오르는 아이디어를 생각으로 가두지 않고 제품으로 실현시킵니다.</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <h2>세상에 없던 새로운 고양이 장난감<br>'캣슈'를 제안합니다.</h2>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <h2>디자이너 '뱜'의 제품 설명 영상</h2>
                                        <p><iframe style="max-width:400px"
                                                        src="https://www.youtube.com/embed/I6i10M3FR54" width="620"
                                                        height="348" frameborder="0"
                                                        allowfullscreen="allowfullscreen"></iframe></p>
                                        <p>제품 소개 및 활용 팁을 정리한 영상이에요.</p>
                                        <p>&nbsp;</p>
                                        <h2>아이템의 탄생 배경</h2>
                                        <p>5마리의 고양이를 반려하면서 매번 새로운 장난감을 공수해 오는 것은 저의 임무였습니다.<br>장난감이 금방 망가져서,<br>위생상 바꿔야
                                                할 때가 되어서, <br>이제는
                                                흥미를
                                                보이지 않아서의 이유였죠.<br><br>비장한 각오로 소비를 결심하고 사오는 장난감은 다 거기서 거기였죠.<br>낚시대, 오뎅
                                                꼬치, 지렁이 장난감...
                                                등등<br><br>이 모든
                                                장난감들은<br>팔 아프게 흔들어대는 집사의 고통이 있기에 빛을 발하는 것들이었습니다.<br>어쩌면 집사의 일방적인 희생이
                                                있어야만 고양이가 즐거울 수 있는 것은
                                                아닐지...
                                        </p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/bfa1f15a-91f3-4471-afcd-614885af75cc.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b5c4df83ac0dd335a7e82b5093c19d11"><br><br>
                                        </p>
                                        <p>고양이를 놀아주는 시간은 20분이 적절하다고 합니다.<br>20분간 손과 팔의 움직임을 멈추지 않는 것은 상당히 힘이 듭니다.<br>그리고
                                                마침내, 영혼없이 흔드는 순간이
                                                오겠죠.
                                        </p>
                                        <p>고양이는 집사의 감정과 표현에 민감하기 때문에<br>성의없는 움직임은 재빨리 파악하고 금세 흥미를 잃어버립니다.<br>집사와 함께 하는
                                                즐거움의 의미를 아는 훌륭한 동물이죠.
                                        </p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/b75d3ab8-56f7-4225-b5b8-5b2500d303ce.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=e4731ad0e19a9851c1f59b6342538fe4">
                                        </p>
                                        <p>이거 신어.gif</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/d2932465-2f85-42a2-a4ae-ea01fa45fab9.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=e170192ed2b3ce1ad9ffeedbe547ff1f">
                                        </p>
                                        <p>이거 신고 놀아줘.gif</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/1fcba7c2-f3b4-4cc4-972a-85eebb534f2a.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=782ee68b0605a8efd32a77a583163aa5">
                                        </p>
                                        <p><br>장난감 '도구'가 아닌,<br>'일상' 그 자체가 놀이가 되는 장난감은 없을까?<br><br></p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/bfbb6fa8-155a-4287-be9a-746dee44eb03.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b6b343d90f115991c2389e8dbec8c859">
                                        </p>
                                        <h2><br>이제 걷기만 하세요.</h2>
                                        <p>집사의 생활용품에 고양이 장난감을 적용하였습니다.</p>
                                        <p>'캣슈'를 신고 집안 곳곳을 걸어주세요.<br>청소를 하거나 설거지를 할 때, 빨래를 할 때,<br>언제든지 신어만 주세요.</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/a716473f-9c7c-42f2-bde3-27350646a1bd.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=332980d13525bed5697aae083bd48a13">
                                        </p>
                                        <p>갑툭튀.gif</p>
                                        <h2>&nbsp;</h2>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/4893a955-8fc5-4d63-8cf1-8f6b6bd56b71.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=a3e0aff04c4e58bd9816b220a50249a2">
                                        </p>
                                        <h2><br>고양이가 졸졸 따라와요.</h2>
                                        <p>특별 제작된 슬리퍼 고리에 탄성있는 스트링이 장착되어<br>집사의 걸음에 맞춰 장난감이 이동합니다.<br>이를 보고 가만히 있을 고양이는
                                                없겠죠?</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/cfd1c9a3-897f-45b5-906b-3d99d67f8c2d.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=6439a150d2395947c79ca96c91f74621">
                                        </p>
                                        <p>어디가냐 내꺼.gif</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/cff3be34-fad0-4430-b61b-9f914a233cdc.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=b977966fd7b20292b4a234fafdf4e33b">
                                        </p>
                                        <p>짝사랑.gif</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/598193d5-abb7-481c-9d88-bce72db49281.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=7c3b6fd076452779c87fcfa95c249d72">
                                        </p>
                                        <h2><br>온 집안 곳곳을 누벼주세요.</h2>
                                        <p>그래야 더 재밌으니까요.</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/68c99a15-cee1-40a5-a7b8-074728b00e81.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=f245621acd2e6113d6d28e4402151b0b">
                                        </p>
                                        <p>홈트중.gif</p>
                                        <h2>집사와 고양이 모두의 운동량 증가에도 도움이 됩니다.</h2>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/d16f8b36-a885-472f-8f52-74e30c9d8eb0.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=6d20fd8de3654b3d7f3badc042071464">
                                        </p>
                                        <h2><br>섬세한 소재 선택과 꼼꼼한 디자인으로 제작된 '캣슈'</h2>
                                        <p>트렌디한 코듀로이 소재로 볼륨감있는 슬리퍼를 제작하였습니다.<br>레터링 장식을 넣어 꼼꼼하게 마무리한 버클 스트링은
                                                <strong>탈부착</strong>이 가능하기
                                                때문에<br><strong>장난감을 떼어 사용하면 겨울철 발을 따뜻하게 감싸줄 슬리퍼로 활용하기에도 손색없습니다.</strong>
                                        </p>
                                        <p>본투러브어스만의 그래픽이 담긴 와펜 장식(화이트 색상에 한함)이 있습니다.<br><br><br></p>
                                        <h2><br>컬러</h2>
                                        <h4>2가지</h4>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/3444edc2-0a9a-45f6-a2cc-98a5f81f839d.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=56dcf85e02d9a378b5d17725b6bf9403">
                                        </p>
                                        <p>코듀로이 화이트</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/89137a6c-5714-4aa6-8137-992cc16e09c8.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=f62ed22bec0af82804fc3b6f6cabec9b">
                                        </p>
                                        <p>코듀로이 핑크</p>
                                        <p>&nbsp;</p>
                                        <h2>사이즈</h2>
                                        <p>260mm '중' 사이즈로,<br>보통의 성인 발 사이즈에 두루두루 맞게 제작되었습니다.</p>
                                        <p>&nbsp;</p>
                                        <h2>구성</h2>
                                        <h4>버클 스트링 + 방울 + 퍼 공 장난감 + 깃털 장난감 + 카드형 리플렛</h4>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/4ba767e0-2e80-45e2-ab96-0ed1dfe5bf4a.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=bd6d90b79b1e4e373015122acbfbd4d6">
                                        </p>
                                        <p>버클 스트링 1개</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/bb024032-2d73-4c88-a071-50e2551caf8e.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=a7d198056b801de7c02b9db5197a4afe">
                                        </p>
                                        <p>방울 1개</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/87e7c12e-038a-4d6d-8f6f-4e8f6a596157.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=720c0c450b462a09858a7a00f85d6a89">
                                        </p>
                                        <p>퍼 공 장난감 1개</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/e9a8536d-640c-4918-81ef-e29c21cf010f.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=fc96cf8a4b7e1fac710bca22e4c319b5">
                                        </p>
                                        <p>깃털 장난감 1개 컬러 랜덤</p>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/07763ba3-0b04-43f5-92c1-2d51b6abd46b.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=987493e3edd979e0157cb3ae7e5ae6a8">
                                        </p>
                                        <p>카드형 리플렛 1개</p>
                                        <p>&nbsp;</p>
                                        <h2>세상에 없던 새로운 고양이 장난감, '캣슈'</h2>
                                        <p>&nbsp;</p>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/dfcef0af-0529-4db1-a9c1-bde8a998296e.jpeg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=06ab16d1b4a04992377217d0ffb1d60f"><img
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/4a6e671c-9791-40c9-820f-328533629c53.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=efbefa457a1c18af874a7c18cecd690c"><img
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/3825d431-5029-4c3e-9497-e925e7069d50.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=573a4f9171dbcd77c1ecb3d627bd77e8">
                                        </p>
                                        <p>&nbsp;</p>
                                        <h2>특허출원</h2>
                                        <p><strong>발명의 명칭 :</strong> 반려동물 장난감이 형성된 신발<br><strong>출원번호 :</strong>
                                                10-2019-0148820</p>
                                        <p>&nbsp;</p>
                                        <h2>프로젝트 종료후 인상된 가격으로 판매합니다.</h2>
                                        <ul>
                                                <li>코듀로이 핑크 <s>37,500원</s> &gt; 29,000원 (약 23% 할인)</li>
                                                <li>코듀로이 화이트 <s>39,500원</s> &gt; 30,000원 (약 24% 할인)</li>
                                                <li>코듀로이 핑크 + 핑크 <s>72,500원</s> &gt; 48,000원 (약 33% 할인)</li>
                                                <li>코듀로이 핑크 + 화이트 <s>74,500원</s> &gt; 50,000원 (약 33% 할인)</li>
                                                <li>코듀로이 화이트 + 화이트 <s>76,500원</s> &gt; 51,000원 (약 33% 할인)</li>
                                        </ul>
                                        <h2>&nbsp;</h2>
                                        <h2>프로젝트 예산</h2>
                                        <p>'캣슈' 프로젝트는 9월부터 아이템의 기획, 개발을 해왔어요.<br>지금은 제품 개발을 끝마친 상태에요.<br>12월은 제품의 완성도를
                                                높이기 위한 단계입니다.<br>펀딩
                                                성공시
                                                모인 모금액으로 바로 제품 생산에 들어갈 예정이에요.<br><strong>300% 달성시 '카툰 쿠션 낚시대'를
                                                        드려요.</strong></p>
                                        <h2><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/9d4496d7-c605-4841-88f6-4fb3f01348cf.jpeg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=fbac5a044f50f65ad2058383b2f5c79f">
                                        </h2>
                                        <p>카툰 일러스트가 있는 쿠션에 캣닙이 들어있어요.<br>색상 랜덤 발송<br><br></p>
                                        <p>&nbsp;</p>
                                        <h2>일정</h2>
                                        <p>2020.01.31 펀딩 종료<br>2020.02.07 결제 종료<br>2020.02.14 리워드 발송</p>
                                        <p>&nbsp;</p>
                                        <h2>문의 안내</h2>
                                        <p>문의는 '창작자 문의하기'를 이용해주세요.</p>
                                        <p>&nbsp;</p>
                                        <h2>우리를 사랑하기 위해 태어난 'born to love us'.</h2>
                                        <p><img style="max-width:400px"
                                                        src="https://tumblbug-psi.imgix.net/3c197779bcc30fc6af04b68d94781af419fc097c/3e603e72767dc6678daff5fb0b0734a8b0ba9168/28b53128cad6f18949489d53456114ea9563dd63/a7352421-cd02-4988-b2dd-0804ff01bdad.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=586c287a30d24fcf254498754dd2f712">
                                        </p>
                                </div>
                        </div>
                </div>
                <div class="col col-md-4">
                        <ul class="list-group">

                                <li class="list-group-item">목표금액 : <%= goalAmount %></li>
                                <% var dd = new Date(parseInt(deadline));
                                var ddstr = `${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`;
                
                                console.log(`${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`);
                                
                                %>

                                <li class="list-group-item">기간 : <%= ddstr %></li>
                                <button onclick="contribute();" class="btn btn-primary">후원하기</button>

                        </ul>
                        <div style="margin:40px"></div>

                        <h2>현재 모금액 : <%= totalAmount %></h2>
                        <div style="margin:10px"></div>

                        <div class="progress">
                                <div class="progress-bar" style="width:<%= totalAmount/goalAmount*100 %>%"
                                        aria-valuenow="<%= totalAmount/goalAmount*100 %>" aria-valuemin="0"
                                        aria-valuemax="100"><%= totalAmount/goalAmount*100 %>%</div>
                        </div>

                        <div style="margin:40px"></div>

                        <div>
                                <ul class="list-group">
                                        <li class="list-group-item">
                                                <div class="font3">
                                                        <h1>창작자 소개</h1>
                                                </div>
                                        </li>
                                        <li class="list-group-item">안녕하세요. 본투러브어스의 디자이너 '뱜'입니다. 본투러브어스(born to love us)는
                                                '우리를 사랑하기 위해 태어난'
                                                반려동물을 위한 새로운 문화를 형성하는 브랜드입니다. 새로운 것을 만들어가는 것을 즐거움과 설렘으로 여기고, 떠오르는 아이디어를
                                                생각으로 멈추지 않고 제품으로 실현시킵니다.
                                        </li>


                                </ul>
                        </div>
                </div>
        </div>
</div>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>

<script>
        //var web3 = new Web3('http://localhost:8545');

        const abi = [
                {
                        "constant": false,
                        "inputs": [],
                        "name": "checkGoalReached",
                        "outputs": [],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                },
                {
                        "constant": false,
                        "inputs": [],
                        "name": "fund",
                        "outputs": [],
                        "payable": true,
                        "stateMutability": "payable",
                        "type": "function"
                },
                {
                        "constant": false,
                        "inputs": [],
                        "name": "kill",
                        "outputs": [],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "function"
                },
                {
                        "inputs": [
                                {
                                        "name": "_duration",
                                        "type": "uint256"
                                },
                                {
                                        "name": "_goalAmount",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "nonpayable",
                        "type": "constructor"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "deadline",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "ended",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "bool"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "goalAmount",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "name": "investors",
                        "outputs": [
                                {
                                        "name": "addr",
                                        "type": "address"
                                },
                                {
                                        "name": "amount",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "numInvestors",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "owner",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "address"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "status",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "string"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                },
                {
                        "constant": true,
                        "inputs": [],
                        "name": "totalAmount",
                        "outputs": [
                                {
                                        "name": "",
                                        "type": "uint256"
                                }
                        ],
                        "payable": false,
                        "stateMutability": "view",
                        "type": "function"
                }
        ];

        const contractAddress = "0x31c0501800491113570010504c23707c98a14ef5";


        var web3;
        var helloContract;

        async function initWeb3() {
                var web3Provider;
                if (window.ethereum) {
                        web3Provider = window.ethereum;
                        try {
                                // Request account access
                                await window.ethereum.enable();
                        } catch (error) {
                                // User denied account access...
                                console.error("User denied account access")
                        }
                }
                // Legacy dapp browsers...
                else if (window.web3) {
                        web3Provider = window.web3.currentProvider;
                }
                // If no injected web3 instance is detected, fall back to Ganache
                else {
                        web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
                }
                web3 = new Web3(web3Provider);
        }

        initWeb3()
                .then(function () {
                        helloContract = new web3.eth.Contract(abi, contractAddress);
                })



        function contribute() {

                var adoptionInstance;

                web3.eth.getAccounts(async function (error, accounts) {
                        if (error) {
                                console.log(error);
                        }

                        var account = accounts[0];

                        await helloContract.methods.fund().send({ from: account, value: 10000000000 })
                                .then(async function () {
                                        var result = await helloContract.methods.totalAmount().call();
                                        console.log(result);
                                })
                });



                // helloContract.methods.goalAmount().call()
                //     .then(result => {
                //         console.log(result);

                //     })



        }
</script>