<% layout('../layout/layout')%>


<div class="container">
    <div style="margin:40px"></div>
    <h2 class="font1">파인풋 머그컵 상세페이지</h2>
    <p> </p>
    <div class="row">
        <div class="col col-md-8">
            <div class="StoryCard__StoryCardInner-sc-6cra5i-0 imlXFP" data-reactid="124">
                <div class="storyContent">
                    <h1 class="font1" class="ProjectIntroduction__ProjectTitle-sc-1o2ojgb-5 cWQlcy">동그란 지구 속 자연 이야기, 파인풋
                        머그</h1>
                    <h3><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/0a57c7dc-be94-472d-b40e-5aa8f159fef3.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=b200248209a48642a921daef2cc45a3b">
                    </h3>
                    <h3><strong>해와 구름, 햇빛과 비, </strong><strong>각종 풀과 움직이는 생물들, 씨앗과 곡식까지. 지구라는 동그란 생명체 안에 가득찬 <strong>자연
                                속 이야기.</strong></strong></h3>
                    <p>&nbsp;</p>
                    <h3><strong>About '</strong><strong>파인풋</strong><strong>(fine PUT)' </strong><strong>프로젝트</strong>
                    </h3>
                    <p>'파인풋(fine PUT)'은 라이프 스타일 브랜드 '풋타콤마'에서 파생된 프로젝트로 환경을 위한 제품의 의미를 새롭게 발견하고 이에 도움이 되는 다양한 활동을 이어가고자
                        합니다. 버려지고 쌓여가는 것들이 급증하고 있는 오늘날, <strong>'파인풋(fine PUT)'은 오염되고 있는 지구를 위해 우리가 일상에서 할 수 있는 '좋은 행동'을
                            실천하며 '좋은 의미를 담는다'는 뜻</strong>을 가지고 있습니다.</p>
                    <p>낭비하지 않는 디자인. 자연을 생각하고 지속가능한 사회를 만들어 가는 가치있는 소비. <strong>자연과 인간과의 조화를 위해 제품을 생산하고 이에 대한 새로운 의미를
                            발견해 나가는 것이 '파인풋'의 활동</strong>입니다.</p>
                    <p><u>첫 번째 '파인풋(fine PUT)' 프로젝트는 일상에서 접하는 자연의 요소인 해 · 구름 · 바람 · 비 · 곡식 · 동물과 식물을 그림으로 표현하여 자연과 인간의
                            사이좋은 공존에 대한 ‘동그란 지구 속 자연이야기’를 머그에 담았습니다. 파인풋 머그를 통해 건강한 지구를 위한 우리의 활동에 힘이 더해질 수 있도록 다양한 후원자
                            분들의 많은 공감과 응원 부탁드립니다. :)</u></p>
                    <h2>&nbsp;</h2>
                    <h2><strong>제품소개 - fine PUT MUG&nbsp;</strong></h2>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/d1e59d25-ad31-4a73-8c2c-d2317edf801e.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=c980d88d4152d90e97c1f8633d2ce7a8">
                    </p>
                    <p><strong>해와 구름, 햇빛과 비,</strong><br><strong>각종 풀과 움직이는 생물들, 씨앗과 곡식까지 </strong><br><strong>지구라는 동그란
                            생명체 안에 가득찬 자연 속 이야기.</strong></p>
                    <p>물질의 풍요로움 속에 둘러쌓여 사는 오늘날의 우리 모습에서 한걸음 멈춰 쉽게 지나칠 수 있는 주변 작은 자연의 요소들에 귀기울여 보면 어떨까요.</p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/8919a255-0fb7-4fb2-a577-7194e3ba767f.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=0e375a681298dba369a08716cf1b9c6f">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/e0371c8a-0324-4311-b007-e70eda404f11.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=afdab94f3ecde31d797d8473527137ed">
                    </p>
                    <hr>
                    <p>해와 구름에서 나는 햇빛과 바람, 빗물을 먹으며 새싹이 움트고 풀과 나무로 자라 씨앗을 맺고, 곡식을 먹으며 동식물이 자라는 상생의 섭리. 이러한 생명의 조화에서 오는
                        풍요로움의 메시지를 선물하고 싶습니다.</p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/b8c2ea59-c3df-43df-99da-b7513f156bee.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=c86593761c01ed6ba1ae34c187f793d8">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/8aa95af3-911d-4b7f-be3a-57a31f4a7688.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=eb4cf70a53c2cd4b3890575a46fc4f19"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/c46b71dd-ee5e-44a4-a4c1-bcd64b7928fe.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=6ac9c06b418a84aed6ee4fd0ecfbdb9c">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/55d972d4-fa76-4442-8512-a244094d4b77.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=61879451e3814faf804df801db45c899"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/c6c96f9f-3657-4805-b5b8-6beac0db1ed7.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=2535ce8ddc73f50330edec0f694cc6bf">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/855b7e01-d476-4d5c-bd57-34e01c1a81e9.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=549a092d1616f931d9ebfa4abd1d620e">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/fd9ca2b2-48d6-4f07-928d-ccbcb4b92b59.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=ead479de8f0d8f371abbcd1a5b5ce68a"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/0fcd74e1-fefd-4e4c-9724-662335a81828.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=cdfe4749c8274a900b8ac472feee9ce6">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/d37adbdf-d488-4a3c-a7ba-d45832b3f8f0.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=881aaf099d1b75af8d751334750e9d4c">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/7dee214e-cfc2-4989-b57e-7ee594bb2c61.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=65e5ce8259cbe7cf514f747a2b16a1c7"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/9ae8db2f-0f96-47e3-83ec-549e46a74e57.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=61caf8d6d0469761ac4370511dc7dc4e">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/93ede7a3-c401-4530-93e2-2f0c2b3f56d2.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=9c13c8b8667633930707d3e5e7a3c4fd"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/173e2c6d-a6c2-45eb-9550-02cac48605fc.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=83e813c61b78ef79e67bde47c46fccad">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/ebac8eea-c047-4ef0-9dd9-212287ea14d6.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=e70f1c0e285faaecc36ba5ae1b761224"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/9baecf9b-8fa0-4bca-8d22-7de1ae41eee9.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=3a6857672189270946398e412c8215d0">
                    </p>
                    <p>작지만 소중한 자연의 요소들을 정성스레 그렸습니다. <br>쌀쌀한 날씨에 따뜻한 메시지가 담긴 머그컵을 나에게, 혹은 지인에게 선물해보는 것은 어떨까요? 연말 연시에 고마운
                        분들께 마음을 전달해보세요.</p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/3f2d1e72-f1f8-46eb-85f4-3f323f73f0ec.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=34da505cb854017677e04bf4518f0ff8">
                    </p>
                    <hr>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/8d935d1c-d303-410d-a964-230691a3e37a.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=5dce0bbc4e622fe78d85ac20cbd87432"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/924c0ad8-3fc3-4776-b706-74ca08638a87.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=91a371b7d176adbe0d17a7522ae44f84"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/d9532e06-5c59-4df0-966d-cdb759649399.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=4a8dcfae2667ad2955350352f417a50c"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/0a73cbc7-76aa-41f3-9e4b-1fb72225e81e.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=42e5c81ed7af98d1f5e258b30ef39402">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/1a1d6b59-0d3d-4a42-85fe-7be96e99e72f.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=d0eaeb002e121b6b86075e37f5bdd2f8">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/6400362b-74d4-485f-a056-935281631878.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=dbb08ba9a7e7cf96d3981fb03608a6f1"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/6a0b7cef-ed51-4eba-9ad1-ac247e372bb9.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=00829217b4597601b230379cdcb1f92d">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/b1e03aa6-1d11-4802-a162-5aeb11f2af22.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=382d824b53229ed23dbad3cdc90e7b8d"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/a6e1f45f-835b-4b82-b220-b0aaa5db85a9.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=09bce391da856c5cfe2df839e0568386">
                    </p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/c7cda1c8-a844-44bc-8536-305e716ccb95.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=e07ca86a242cce8625ac5f837dae9260"><img
                            style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/8e01e957-0c67-4133-ac69-1bb6aa9c64d3.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=f479efd754cb1020a5d7950e1c9d1ecc">
                    </p>
                    <p>파인풋 머그를 구입하시면 '자연 속 이야기' 그래픽 택을 함께 보내드립니다.</p>
                    <h3>&nbsp;</h3>
                    <h3><em><strong>그래픽디자이너 : joo.hha</strong></em></h3>
                    <p><em>'동그란 지구 속 자연 이야기'의 주하(joo.hha) 디자이너는 빠르게 회전하는 세상의 흐름을 거슬러 진정한 쉼의 의미를 자연 속에서 찾아내는 일러스트레이터이자
                            시각디자이너입니다. 화려하기보단 소박하며 강렬하기보단 편안함을 담아내기 위해 일상의 자연의 요소를 들여다보고 쓰다듬듯 그려내었습니다. 크레파스와 색연필로 그림을
                            그리고 화면 상에서 그래픽을 디자인하여 자연의 메시지를 일상에 전달하고자 합니다.</em></p>
                    <p>&nbsp;</p>
                    <h3><strong>제품정보</strong></h3>
                    <p>재질 - 도자기<br>구성 - 머그<br>용량 - 250ml<br>사이즈 - D 76 x H 87 (mm)</p>
                    <h3>&nbsp;</h3>
                    <h3><strong>제품선택사항</strong></h3>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/098904f1-e019-42c9-ab86-a8c9c53dd341.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=e72ea6b0f562f1538b8ae76c734a15db">
                    </p>
                    <h3>&nbsp;</h3>
                    <h3><strong>펀딩하시는 이유 및 후원금 사용 계획</strong></h3>
                    <p><strong>본 프로젝트 목표 금액은 700,000원이며 최소 생산 비용입니다. 모든 후원 금액은 제품 생산부터 패키지 생산, 다음 프로젝트 진행까지의 비용으로 사용될
                            예정입니다.</strong></p>
                    <p>이를 통해 지구를 위한 우리의 작은 실천이 시작됩니다. 낭비되지 않고 제품의 쓰임이 다 할 때까지 함께 할 수 있는 방법을 생각하고, 환경에 도움이 될 수 있는 제품으로
                        지구를 위한 메시지를 많은 분들과 공감하고자 합니다. 앞으로 우리가 살고 있는 소중한 행성, 지구를 위해 더욱 다양한 활동을 할 수 있도록 후원자분들의 응원이 필요합니다.
                        많은 공감 부탁드립니다. :)</p>
                    <p>'파인풋(fine PUT)'은 첫 번째 프로젝트를 시작으로 후원자님들의 피드백을 통해 프로젝트 활동을 더욱 성장시키고자 합니다.</p>
                    <p>&nbsp;</p>
                    <h3><strong><strong>리워드 구성</strong></strong></h3>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/99e6fcab-0f84-4a21-a3a6-1efa708d8067.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=fe45ea58f05cae4db7d1b9ac62b00786">
                    </p>
                    <p>&nbsp; &nbsp;• 6만이상&nbsp; 펀딩시 랜덤 머그 1종을 선물로 보내드립니다.<br>&nbsp; &nbsp;• 펀딩시 반드시 옵션 선택
                        부탁드립니다.&nbsp;<br>&nbsp; &nbsp;• 옵션 미선택시 랜덤으로 보내드립니다.&nbsp;</p>
                    <h3>&nbsp;</h3>
                    <h3><strong>프로젝트 일정</strong></h3>
                    <p>&nbsp; • 2020년 1월 5일 펀딩종료<br>&nbsp; • 2020년 1월 16일 제품 순차배송시작 (택배사:로젠택배)</p>
                    <h3>&nbsp;</h3>
                    <h3><strong><strong>배송안내</strong></strong></h3>
                    <p>&nbsp; • 발송일로부터 일주일 내에 수령하실 수 있습니다.<br>&nbsp; • 제주도 및 도서산간 지역의 경우 3,000원을 추가 펀딩해주셔야 합니다.
                        <br>&nbsp; • 추가 펀딩을 하지 않을 경우 택배 발송 시 문제가 생길 수 있습니다.</p>
                    <p>&nbsp;</p>
                    <p><img style="max-width:500px"
                            src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/9fe8433a122fbc9ad8fa91f363d7953466cfcc06/09bcc39c5afbe6454d589879a8f287a47809e80d/29b7d395-d9c9-448e-98d0-601ca8729158.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=10bd9c8e886269f0fa3f6d6578070c8f">
                    </p>
                    <p>• 펀딩 전 신중한 확인 부탁드립니다. 감사합니다. :)&nbsp;&nbsp;</p>
                </div>
            </div>

        </div>
        <div class="col col-md-4">
            <ul class="list-group">
                <li class="list-group-item">목표금액 : <%= goalAmount %></li>
                <% var dd = new Date(parseInt(deadline));
                var ddstr = `${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`;

                console.log(`${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`);
                
                %>

                <li class="list-group-item">기간 : <%= ddstr %></li>
                <button onclick="contribute();" class="btn btn-primary">후원하기</button>

            </ul>
            <div style="margin:40px"></div>

            <h2>현재 모금액 : <%= totalAmount %></h2>
            <div class="progress">
                <div class="progress-bar" style="width:<%= totalAmount/goalAmount*100 %>%"
                    aria-valuenow="<%= totalAmount/goalAmount*100 %>" aria-valuemin="0" aria-valuemax="100">
                    <%= totalAmount/goalAmount*100 %>%</div>
            </div>

            <div>
                <div style="margin:40px"></div>
                <ul class="list-group">
                    <li class="list-group-item">창작자 소개 </li>
                    <li class="list-group-item">'파인풋'은 라이프 스타일 브랜드 '풋타콤마'에서 제품의 새로운 의미를 발견하며, 환경에 도움이 될 수 있는 활동을 하고자 하는
                        프로젝트입니다. 파인풋의 첫 번째 프로젝트는 일상에서 접하는 자연의 요소인 해 · 구름 · 바람 · 비 · 곡식 · 동물과 식물을 그림으로 표현하여 자연과 인간의 사이좋은
                        공존에 대해 이야기하는 일러스트레이터이자 그래픽디자이너 주하 작가와 함께 합니다.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>

<script>
    //var web3 = new Web3('http://localhost:8545');

    const abi = [
        {
            "constant": false,
            "inputs": [],
            "name": "checkGoalReached",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "constant": false,
            "inputs": [],
            "name": "fund",
            "outputs": [],
            "payable": true,
            "stateMutability": "payable",
            "type": "function"
        },
        {
            "constant": false,
            "inputs": [],
            "name": "kill",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "name": "_duration",
                    "type": "uint256"
                },
                {
                    "name": "_goalAmount",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "constructor"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "deadline",
            "outputs": [
                {
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "ended",
            "outputs": [
                {
                    "name": "",
                    "type": "bool"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "goalAmount",
            "outputs": [
                {
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [
                {
                    "name": "",
                    "type": "uint256"
                }
            ],
            "name": "investors",
            "outputs": [
                {
                    "name": "addr",
                    "type": "address"
                },
                {
                    "name": "amount",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "numInvestors",
            "outputs": [
                {
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "owner",
            "outputs": [
                {
                    "name": "",
                    "type": "address"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "status",
            "outputs": [
                {
                    "name": "",
                    "type": "string"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        },
        {
            "constant": true,
            "inputs": [],
            "name": "totalAmount",
            "outputs": [
                {
                    "name": "",
                    "type": "uint256"
                }
            ],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }
    ];

    const contractAddress = "0x31c0501800491113570010504c23707c98a14ef5";


    var web3;
    var helloContract;

    async function initWeb3() {
        var web3Provider;
        if (window.ethereum) {
            web3Provider = window.ethereum;
            try {
                // Request account access
                await window.ethereum.enable();
            } catch (error) {
                // User denied account access...
                console.error("User denied account access")
            }
        }
        // Legacy dapp browsers...
        else if (window.web3) {
            web3Provider = window.web3.currentProvider;
        }
        // If no injected web3 instance is detected, fall back to Ganache
        else {
            web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
        }
        web3 = new Web3(web3Provider);
    }

    initWeb3()
        .then(function () {
            helloContract = new web3.eth.Contract(abi, contractAddress);
        })



    function contribute() {

        var adoptionInstance;

        web3.eth.getAccounts(async function (error, accounts) {
            if (error) {
                console.log(error);
            }

            var account = accounts[0];

            await helloContract.methods.fund().send({ from: account, value: 10000000000 })
                .then(async function () {
                    var result = await helloContract.methods.totalAmount().call();
                    console.log(result);
                })
        });



        // helloContract.methods.goalAmount().call()
        //     .then(result => {
        //         console.log(result);

        //     })



    }
</script>