<% layout('../layout/layout')%>

<div class="container">
  <div style="margin:40px"></div>
  <h2 class="font1">오버액션 노트북파우치 상세페이지</h2>
  <p> </p>
  <div class="row">
    <div class="col col-md-8">
      <div class="StoryCard__StoryCardInner-sc-6cra5i-0 imlXFP" data-reactid="128">
        <div class="storyContent">
          <hr>
          <h2><u><strong>오버액션 캐릭터를 소개합니다.</strong></u></h2>
          <p>오버액션 토끼와 곰은 이름 그대로 행동을 '오버하는' 캐릭터이며,<br>눈에 해당하는 작은 점 두 개와 그 아래 미묘하게 웃는듯한 삼각형의 입으로 이루어진 심플한 디자인이&nbsp;매력적인
            캐릭터입니다.</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/dd05827d-b3f1-42a1-8271-0e26b6c07125.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=af12ab851474b59f4edf29fe506f9a50">
          </p>
          <p>안녕하세요. <strong>국내외 캐릭터 라이센싱으로 제품(정품) 제작을&nbsp;진행하고 있는</strong><br><strong>플레이윈</strong>입니다!<br>이번 프로젝트로 많은
            사랑을 받고 있는 오버액션 캐릭터 상품을 선보입니다 :)</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/fcd73438-dcbf-4ad6-a8a1-d054e555ecfc.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=df58ebed9cc08fa16b6d337b2961bf34">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/a49ea493-e7ec-41a8-9a9c-010cf771e99d.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=89ff98dfc57f3b7660ae3da27fa1c46a">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/7f38c88a-d663-4349-bf5d-04afdf6938d7.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=e43919c4cf7ed788762c8fe6fc0726ee">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/1d40b77b-1737-4c1f-89ef-be6e44891c2f.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=890454a297e34804bfa47a761decdf6a">
          </p>
          <h2 class="font1"><u>노트북 / 아이패드 파우치를 소개합니다.</u></h2>
          <p>학교, 회사, 카페 등 노트북을 들고 다니다 보면 부딪혀 상처 나기도 쉽고, 떨어트릴 위험으로&nbsp;불안했던 적이 있었을 거예요~<br>그래서 준비한 저희의 제품은 당신의 소중한 노트북과
            아이패드를 안전하게 지켜줄<br>푹신푹신 부들부들&nbsp;귀여운 <strong>오버액션 노트북 / 아이패드 파우치</strong>입니다!</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/360830d0-d688-4fff-9858-3c1cbd06e31f.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=5815f273dab5f144293d733caf4ce007">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/889e04be-7c82-4470-8593-afa71953e1da.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=d103bf626de7469a53829e6d33114649">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/7e6bd982-5cb2-4be6-a324-d60530ae1999.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=194e230bfea71ef8e1f40e89d559183c">
          </p>
          <p>겉면은 <strong>촘촘한 밀도와 보송보송한 촉감의 원단</strong>을 사용하여 제품의 형태가 탄탄하고<br>깔끔하며, 중앙에 크게 들어간 캐릭터에는 <strong>부들부들한 벨보아
              원단</strong>을 사용하여<br>계속 쓰다듬고 싶어진답니다.<br>또한, 배경에 <strong>자수 디테일</strong>을 추가하여 고급스러움과 완성도를 높였습니다.</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/f7807c5b-e664-4222-b5e2-5f229b9a6912.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=0eedba06aaa3198f6a7fa9e7953e73ab">
          </p>
          <p>노트북 표면의 스크래치 방지를 위해 <strong>부드러운 벨보아 원단의 안감</strong>을 사용하여<br>노트북 / 아이패드를 보호할 수 있답니다.</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/cc7cd55c-6364-4826-84b3-99e133bdbd36.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=f4ec9b7debe66bdece637ba34c9f2e6f">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/3731f07a-0e1e-4cfe-a3be-5317f95abb1e.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=0b72dbd6cf6f48b957ccaf3774d0566e">
          </p>
          <p>기존의 세로형 파우치의 입구가 좁아 불편함을 겪으셨던 분들을 위해<br><strong>입구를 넓혀&nbsp;더욱 편리하게 노트북을 꺼낼 수 있도록 제작</strong>하였습니다.<br>또한
            세로형 파우치에는 <strong>펜슬을 꽂을 수 있는 밴딩이 부착</strong>되어 분실 걱정 없이<br>사용하실 수 있답니다 :)</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/eab2db99-467b-48b6-860c-4051d992c9ed.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=416f8c5216f03537ba90b52f6d554fce">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/48398eab-dc1e-4e54-b03e-8ab6c50a202b.gif?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;gif-q=35&amp;s=2e4f3c515b32d53cb4ac723a5cc465d5">
          </p>
          <p>오버액션 노트북 파우치는 일반 스펀지보다 <strong>완충작용이 더 좋은 고급 소재의 두꺼운&nbsp;EVA<br>라바 스펀지</strong>를&nbsp;사용하여 외부의 충격으로부터 노트북을
            더욱 안전하게 보호할 수 있답니다.</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/a296daef-ccce-4d10-a60e-0dc07be58f5d.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=e10bc5141e9ea30c9d4d9649a176a82b"><img
              style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/5b1dca25-9dc6-4d60-a05c-7892036712d2.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=3b9342868586ddb18a2585582021b215">
          </p>
          <p>지퍼는 기존의 방식과 달리 플레이윈만의 제봉 방식을 이용하여<br><strong>외형의 깔끔함</strong>을 더해주었답니다.<br>사진 속 슬라이더는 오버액션 로고가 프린팅으로 제작되어
            있으나 실제 제품에는<br><strong>로고 각인으로 제작</strong>될&nbsp;예정이오니 색상과 모양 참고 부탁드립니다~</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/720e2a65-e762-4a18-ae4b-2aa164dcf1cf.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=6a610afc55508a2644ead9bb863b6332">
          </p>
          <p>오버액션 노트북 파우치는 믿고 사용하실 수 있는 <strong>MADE IN KOREA</strong> 제품입니다.</p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/d525449e-0ca8-4c10-80f1-2854f608a6a6.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=25eba288361b05983199e651d392be96">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/7f5261a5-bc86-428f-a942-aa8519a1e730.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=4efc06b0b86eab71e3c7ea705fa85f5b">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/0b64e812-75fe-4e98-8a50-4f2eeebfdf1a.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=48931aced2ea0a683f243dc62bc2dc05">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/18c0f8d0-2266-4de2-85fc-12d3dff3bc61.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=381fb4af0adc38a2854d41b09bc08977"><br><em>*파우치
              크기에 따라 캐릭터의 크기도 같이 커집니다.</em><br><em>*세로형 파우치에는 펜슬을 꽂을 수 있는 밴드가 들어가 있습니다.</em><br><em>*모니터 해상도 및 색상 설정에
              따라서 사진의 색이 상이해 보일 수 있습니다.</em></p>
          <h2 class="font1"><u>재질 정보</u></h2>
          <p>겉감 : 면 100% (테리 원단)<br>안감 : 벨보아 원단<br>캐릭터 원단 : 벨보아 원단<br>슬라이더 : 금속</p>
          <h2 class="font1">텀블벅 후원자님들을 위해 <u>'플레이윈에서 특별히<br>준비한 선물들'</u> 을 소개합니다.</h2>
          <h4>&nbsp;</h4>
          <p><u><strong>&lt;첫 번째 선물&gt;</strong><br></u><u></u>귀여운 오버액션 일러스트가 그려진 <strong>고급
              마우스패드</strong>는<br><strong>도톰한 두께감과 넉넉한 크기, 미끄럼 방지 소재</strong>로 편리하답니다.<br>노트북 파우치에 함께 넣어 들고 다니며 유용하게
            사용하세요 :)<img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/ea452e91-d3bb-4389-9b9e-194618caa511.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=aace5ad69e1b101f2821c5779199a0b7">
          </p>
          <p><img style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/5364ad3d-63f5-4721-a287-08636e1465f6.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=a0c70f0b477b81b4a2ee081008e0cdfc"><img
              style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/1f51db28-626d-44d5-85cd-93c991279e97.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=99f9445843c7c9562137b7620b28381d">
          </p>
          <p><u><strong>&lt;두 번째 선물&gt;</strong><br></u>귀여운 오버액션 일러스트가 그려진 <strong>2020년 탁상용 캘린더</strong>입니다.<br>한 장 한 장
            넘길때 마다 <strong>매달 다른 오버액션 일러스트와 컬러</strong>로 지루하지 않으며,<br>앞면에는 날짜에 칸이 있어 중요한 일정을 기록하기에도 좋답니다.<img
              style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/792c4600-f5fb-4373-bde4-2c871d67fa45.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=2bca350f1977540ac97708e91d1d7615"><img
              style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/2d6c4f51-719d-4b17-9fe7-69420c8ca981.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=3a42cff154487cbc9c1d6b162594acf6"><img
              style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/c8d02ebb-902c-4bb3-bd5e-aa891f48a79c.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=c942de9da795d7742df1616cc5042262"><img
              style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/959980ce-b930-4deb-9b3c-d72d8fde27b0.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=cae31ac43241587a962b8e586e2a0e4f"><img
              style="max-width:500px"
              src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/47c993c3-16a1-4962-88a3-caae7c60db99.jpg?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=273d1c0d5444b64b12671ab9dd0fa64e"><br>마우스
            패드 사이즈 : 곰 (22.6cm x 20cm) / 토끼 (21.6cm x 20cm)<br>캘린더 사이즈 : 12 x 19.8cm / 13개월 분</p>
          <h2 class="font1"><em>"노트북 파우치 가격은 <u>텀블벅에서만 적용된 특별가</u>입니다."</em></h2>
          <h2 class="font1"><em>"마우스 패드와 캘린더는 <u>이번 텀블벅 리워드 구성에만 포함된 선물</u>입니다."<br></em></h2>
          <p>리워드 구성<br><strong style="font-size: 1.5rem;"><u>배송비 (2500원) 포함</u></strong><span
              style="font-size: 1.5rem; font-weight: bold;">된 리워드 금액입니다.<br><img style="max-width:500px"
                src="https://tumblbug-psi.imgix.net/690c9f262a25131d07655e5589af183e6e51bf02/89478745531d1ab84c49cdac5e43264c94d49b79/eff62f50459355ee8c47b9ba5125b6d6eace7800/14e98d3e-8b98-46ec-8706-b8d5a4b56390.png?ixlib=rb-1.1.0&amp;w=1240&amp;auto=format%2C%20compress&amp;lossless=true&amp;ch=save-data&amp;s=927730f5754a965dfb2452ec6f8cd081"></span>*본
            제품은 (주)더웍스 컴퍼니, (주)세니트와의 상품화 계약에 의거 제작, 생산되오니 무단복제시 법의&nbsp;처벌을 받습니다. 또한 공정거래위원회고시 소비자 분쟁 해결기준에 의거 교환 또는 보상
            받을 수&nbsp;있습니다.</p>
          <h2>[텀블벅 펀딩 목표]</h2>
          <p>텀블벅에서 100만원 이상 후원금이 모여 펀딩을 성공하게 된다면&nbsp;새로운 오버액션 제품<br>제작에 후원금이 사용됩니다 :)</p>
          <h2>[Q&amp;A]</h2>
          <p>Q_1. 텀블벅에서만 구매 할 수 있나요?<br>A_1. 오버액션 노트북 파우치는 이번 펀딩을 통해 처음 선보이게 되었습니다.<br>펀딩이 종료된 이후에는 아래 인스타그램 계정을 통해
            문의해주세요 :)</p>
          <p>Q_2. 1인 1개만 구매가능한가요?<br>A_2. 텀블벅은 기본적으로 한 계정 당 한 개의 후원만 가능합니다.<br>노트북 파우치를 2개 이상 구매하고 싶으신 경우, 원하는 리워드의 금액을
            추가하여<br>설정하신 뒤&nbsp;<strong>창작자에게 문의</strong>해주세요!</p>
          <p>Q_3. 노트북 파우치 사이즈가 궁금해요!<br>A_3. 오버액션 노트북 파우치는 사이즈가 넉넉하게 제작되었습니다. 상세사이즈를<br>참고하여&nbsp;노트북 사이즈와 비교해주세요.<br>같은
            inch의 노트북이라도 기종마다 화면 배젤과 두께가 모두 다르므로 정확한 사이즈는<br>상세 설명의 실측 사이즈(오차범위 1cm)를 참고 부탁드립니다.</p>
          <h2>[제작 및 실행 일정]</h2>
          <p>프로젝트 오픈 - 2019. 12. 10<br>프로젝트 종료 - 2020. 01. 06<br>결제진행 - 2020. 01. 07<br>리워드 제작 - 2019. 12. 31(예정) - 일정
            변경시 업데이트<br>리워드 발송 시작 - 2020. 01. 09(예정) - 일정 변경시 업데이트</p>
          <h2>[배송 및 전달방법]</h2>
          <p>선물은 <strong>CJ택배사</strong>를 통해 발송됩니다.<br>모든 선물은 최종 결제 종료 이후에 발송될 예정이며, 배송 소식은 새소식을 통해<br>안내해드립니다.<br>*그외
            제주도 및 산간지역의 경우 배송비 3,000원 더해 후원 부탁드립니다.</p>
          <h2>[문의 방법]</h2>
          <p>문의는 '창작자에게 문의하기'로 보내주세요.<br>그 외 더 많은 소식은 인스타그램 <a href="https://www.instagram.com/playwin_official_/"
              target="_blank" rel="noopener">https://www.instagram.com/playwin_official_/</a>&nbsp;<br>에서&nbsp;만나보실 수
            있습니다.<br>감사합니다 :)</p>
        </div>
      </div>


      </ul>
    </div>
    <div class="col col-md-4">
      <ul class="list-group">
        <li class="list-group-item">목표금액 : <%= goalAmount %></li>
                <% var dd = new Date(parseInt(deadline));
                var ddstr = `${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`;

                console.log(`${dd.getFullYear()}년 ${dd.getMonth()}월 ${dd.getDate()}일`);
                
                %>

                <li class="list-group-item">기간 : <%= ddstr %></li>
        <button onclick="contribute();" class="btn btn-primary">후원하기</button>

      </ul>
      <div style="margin:40px"></div>

      <h2>현재 모금액 : <%= totalAmount %></h2>

      <div class="progress">
        <div class="progress-bar" style="width:<%= totalAmount/goalAmount*100 %>%" aria-valuenow="<%= totalAmount/goalAmount*100 %>" aria-valuemin="0" aria-valuemax="100"><%= totalAmount/goalAmount*100 %>%</div>      </div>

      <div>
        <div style="margin:40px">
          <ul class="list-group">
            <li class="list-group-item">창작자 소개 </li>
            <li class="list-group-item">(주)플레이윈은 국내외 캐릭터 라이센싱으로 제품 제작을 진행하고 있으며 B2B, 자체 브랜드의 개발도 하고 있습니다. 자체 디자인 및 직영
              공장을
              통해 생산 및 유통하여 높은 품질의 상품을 합리적인 가격으로 소비자에게 제안합니다.</li>


          </ul>
        </div>

        <div>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>

<script>
  //var web3 = new Web3('http://localhost:8545');

  const abi = [
    {
      "constant": false,
      "inputs": [],
      "name": "checkGoalReached",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [],
      "name": "fund",
      "outputs": [],
      "payable": true,
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [],
      "name": "kill",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "name": "_duration",
          "type": "uint256"
        },
        {
          "name": "_goalAmount",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "constructor"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "deadline",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "ended",
      "outputs": [
        {
          "name": "",
          "type": "bool"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "goalAmount",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "investors",
      "outputs": [
        {
          "name": "addr",
          "type": "address"
        },
        {
          "name": "amount",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "numInvestors",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "owner",
      "outputs": [
        {
          "name": "",
          "type": "address"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "status",
      "outputs": [
        {
          "name": "",
          "type": "string"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "totalAmount",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    }
  ];

  const contractAddress = "0x31c0501800491113570010504c23707c98a14ef5";


  var web3;
  var helloContract;

  async function initWeb3() {
    var web3Provider;
    if (window.ethereum) {
      web3Provider = window.ethereum;
      try {
        // Request account access
        await window.ethereum.enable();
      } catch (error) {
        // User denied account access...
        console.error("User denied account access")
      }
    }
    // Legacy dapp browsers...
    else if (window.web3) {
      web3Provider = window.web3.currentProvider;
    }
    // If no injected web3 instance is detected, fall back to Ganache
    else {
      web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
    }
    web3 = new Web3(web3Provider);
  }

  initWeb3()
    .then(function () {
      helloContract = new web3.eth.Contract(abi, contractAddress);
    })



  function contribute() {

    var adoptionInstance;

    web3.eth.getAccounts(async function (error, accounts) {
      if (error) {
        console.log(error);
      }

      var account = accounts[0];

      await helloContract.methods.fund().send({ from: account, value: 10000000000 })
        .then(async function () {
          var result = await helloContract.methods.totalAmount().call();
          console.log(result);
        })
    });



    // helloContract.methods.goalAmount().call()
    //     .then(result => {
    //         console.log(result);

    //     })



  }
</script>